@charset "UTF-8";
/* ------------------- MIXINS ------------------- */
#kalendar_header {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  background: #fff;
  z-index: 999;
  padding: 0 20px 0 320px;
  box-sizing: border-box;
}
#kalendar_header.cit_wide {
  padding: 0 20px 0;
}
@media only screen and (max-width: 450px) {
  #kalendar_header.cit_wide {
    padding: 0 !important;
  }
}
#kalendar_header #kalendar_controls {
  height: 70px;
  width: 100%;
}
#kalendar_header #kalendar_users {
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  overflow: hidden;
}
#kalendar_header #kalendar_users #kal_day_hour_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  background: #fff;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 170px;
  z-index: 555;
}
#kalendar_header #kalendar_users #kal_day_hour_box button {
  margin: 0 10px;
  font-size: 20px;
}
#kalendar_header #kalendar_users #kal_users_wrapper {
  width: auto;
  height: 100%;
  display: flex;
}
#kalendar_header #kalendar_users #kal_users_wrapper .user_title {
  height: 100%;
  width: 92px;
  border-top: 2px solid #545353;
  border-left: 2px solid #545353;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
#kalendar_header #kalendar_users #kal_users_wrapper .user_title:last-of-type {
  border-right: 2px solid #545353;
  width: 124px;
}

#kalendar_cont {
  height: auto;
  width: 100%;
  margin-top: 100px;
  background: #fff;
  position: relative;
  display: flex;
  /* KRAJ KALENDAR DATE DAY BOX */
}
#kalendar_cont #kalendar_date_day_box {
  font-size: 11px;
  font-weight: 700;
  width: 100%;
  height: auto;
  border-top: 2px solid #000;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_sub, #kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_ned {
  background: #e0f3ff;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day .kalendar_date {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  box-sizing: border-box;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day .kalendar_day {
  display: flex;
  align-items: center;
  width: calc(100% - 80px);
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day .week_num {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background: #b9001c;
  color: #fff;
  border-radius: 6px;
  margin-left: 3px;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_show_hours {
  height: 60px;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_show_hours .kalendar_date {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  box-sizing: border-box;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_show_hours .kalendar_day {
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_show_hours .kalendar_sat {
  display: flex;
  align-items: center;
  width: auto;
  height: 23px;
  box-sizing: border-box;
  padding: 3px;
  position: relative;
  top: 28px;
  background: #fff;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_sub .kalendar_sat,
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_ned .kalendar_sat {
  background: #e0f3ff;
}
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.is_today .kalendar_date,
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_show_hours.is_today .kalendar_date,
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_sub.is_today .kalendar_date,
#kalendar_cont #kalendar_date_day_box .kalendar_date_day.cit_ned.is_today .kalendar_date {
  background: #a0ffc6;
}
#kalendar_cont #kalendar_tasks_box {
  position: absolute;
  top: 0;
  left: 170px;
  width: calc(100% - 170px);
  height: calc(100% + 17px);
  /* malo je veća da namjerno sakrijem scroll bar */
  overflow-x: auto;
  display: flex;
}
#kalendar_cont #kalendar_tasks_box .user_box {
  height: 100%;
  width: auto;
  border-left: 2px solid #545353;
  box-sizing: border-box;
  display: flex;
}
#kalendar_cont #kalendar_tasks_box .user_box .user_lane {
  height: 100%;
  width: 30px;
  border-right: 1px solid #545353;
  box-sizing: border-box;
}
#kalendar_cont #kalendar_tasks_box .user_box .user_lane:last-of-type {
  box-sizing: border-box;
  border-right: 2px solid transparent;
}
#kalendar_cont #kalendar_tasks_box .user_box:last-of-type {
  border-right: 2px solid #545353;
}

/*# sourceMappingURL=kalendar.css.map */
