@import "../../css/vars";
@import "../../css/mixins";
@import "../../css/buttons";


#cit_top_menu_box {
  
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  overflow: visible;
  background-color: rgb(250, 251, 252);
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  z-index: 999;

  #cit_top_menu {
    width: 100%;
    height: 100%;

    #velprom_logo_box {
      height: 70%;
      width: auto;
      margin-left: 80px;
      overflow: hidden;
      
      
      
      img {
        width: auto;
        height: 100%;
      }
      
      @media only screen and (max-width : 1024px) {
        width: 40px;
        margin-left: 40px;
      }
      
      
    } 

    .menu_controls {
      position: relative;
      height: 100%;
      .menu_btn {
        
        @include btn_abs;
        
        position: absolute;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 100%;
        cursor: pointer;
        
        i {
          font-size: 23px;  
        }
        
        &.cit_hide {
          @include btn_abs_hide;
        }
      }
    }

    #left_menu_control_box {
      float: left;
      width: 300px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media only screen and (max-width : 1024px) {
        width: 110px;
      }
      
      .menu_btn {
        left: 0;
        
        @media only screen and (max-width : 1024px) {
          width: 40px;
        }
        
      }

    }
    
    
    #center_menu_control_box {
      float: left;
      width: calc( 100% - 600px );
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      #badge_box {
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .cit_badge {

          @include btn_tran;
          text-decoration: none !important;


          transition: none;
          height: 85%;
          /*width: 140px;*/
          min-width: 100px;
          padding: 0 10px;
          margin: 0 5px;

          color: #fff;
          background: #fff;
          border-radius: 6px;

          display: flex;
          flex-direction: column;
          justify-content: center;

          /*
        box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
        0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
        0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
        0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
        */


          &.cit_new {
            background-image: linear-gradient(to top, #b584d4 0%, #db9ff1 100%);
          }

          &.cit_my_tasks {
            background-image: linear-gradient(to top, #e24a4a 0%, #dc7878 100%);
          }

          &.cit_task_from_me {
            background-image: linear-gradient(to top, #7cabd8 0%, #83cff3 100%);
          }

          &.cit_working {
            background-image: linear-gradient(to top, #738dd0 0%, #abc1f9 100%);
          }


          .badge_title {

            width: 100%;
            text-align: center;
            font-size: 9px;
            line-height: 11px;
            margin: 1px 0;
            font-weight: 700;
            letter-spacing: 0.05rem;
          }

          .badge_value {
            margin-top: 2px;
            width: 100%;
            text-align: center;
            font-size: 24px;
            line-height: 26px;
            font-weight: 900;
            letter-spacing: 0.05rem;
          }


        }
        
        #cit_page_title {
          
          min-width: 250px;
          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            text-align: center;
            font-weight: 700;
            color: #103253;
            margin: 0;

          }

        }
        
      }
      
      
      #badge_box_arrow {
        
        
        cursor: pointer;
        width: 150px;
        display: none;
        
        align-items: center;
        justify-content: center;
        i {
          transition: transform 0.3s;
          transform: rotate(0deg);
        }
      }
      
      
      @media only screen and (max-width : 1024px) {
        
        margin: 0;
        width: calc( 100% - 220px );
        
        #badge_box {
          opacity: 0;
          pointer-events: none;
          transition: all 0.2s ease-in;
          transform-origin: 50% 0;
          transform: scale(1,0.7);
          
          padding: 0;
          height: auto;
          position: fixed;
          top: 60px;
          left: 0;
          width: 100vw;
          flex-direction: column;
          background: #fafbfc;
          padding-bottom: 20px;
          padding-top: 20px;
          box-shadow: 0px 50px 40px rgb(0 0 0 / 28%);
          
          .cit_badge {
            margin-bottom: 15px;
            width: 200px;
            padding: 10px;
          }
          
        }
        
        #badge_box.cit_open {
          pointer-events: all;
          opacity: 1;
          transform: scale(1,1);
        }
        
        #badge_box_arrow { 
          display: flex;
        }
        
        
      }
      
      
    }
    
    #right_menu_control_box {
      float: left;
      width: 300px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      @media only screen and (max-width : 1024px) {
        margin: 0;
        width: 110px;
      }
      
      .menu_btn {
        right: 0 !important;
        
        @media only screen and (max-width : 1024px) {
          margin: 0;
          width: 40px;
        }
        
      }
      
     
      
    }

  }
  
  #avatar_box {
    width: 270px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    
    @media only screen and (max-width : 1024px) {
      overflow: hidden;
      width: 102px;
    }

    #avatar_image_box {
      @include flex_center;      
      
      width: 50px;
      height: 50px;
      border-radius: 35px;
      overflow: hidden;
      transition: all 0.6s;
      transform: rotateY(0deg);
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      
      i {
        @include flex_center; 
        
        height: 100%;
        width: 100%;
        font-size: 30px;
        background: #e8edf8;
        color: #918ff1;
        
        
      }
      
      
      &.cit_user {
        transform: rotateY(360deg);
      }
      
    }
    #avatar_text_box {
      padding-left: 13px;
      width: calc(100% - 50px);
      box-sizing: border-box;
      .avatar_name {
        @include sinop;
        
        font-weight: bold;
        line-height: 1.5;
        font-size: 0.88rem;
        width: 100%;
        color: #495057;
      }
      .avatar_title {
        @include sinop;
        
        font-weight: bold;
        line-height: 1.5;
        font-size: 0.8rem;
        width: 100%;
        color: #495057;
        opacity: 0.8;
      }
    }
  }
}

