@import "./vars";
@import "./mixins";

.cit_table_parent {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  
}

#search_autocomplete_container {
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  background-color: #f6f6f9;
  box-shadow: 0 0 56px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-left: -150px;
  height: auto;
  min-height: 100px;
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*display: flex;*/
  border-radius: 10px;
  font-size: 12px;
  color: #444546;

  .header_column {
    border: 0px solid transparent;
    border-bottom: 1px solid #bdbcbc;
    font-size: 9px;
    font-weight: 700;
    padding: 5px 14px 5px 0;
    user-select: none;
  }
  
  .search_result_table {
    max-height: 400px;
  }
  
  #drop_list_dates,
  #drop_list_hh,
  #drop_list_min {
    height: 480px;
    overflow-y: auto;
    /* Hide scrollbar for Chrome, Safari and Opera */
    
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
  #simple_calendar_header {
    @include flex_center;
    
    width: 100%;
    float: left;
    height: 20px;
    
    .simple_cal_select_box {
      width: 50%;
      height: 100%;
      @include flex_center;
      
      div {
        width: 30%;
        @include flex_center;
      }
      
      #simple_month_display,
      #simple_year_display {
        
        @include flex_center;
        
        
        width: 100%;
        height: 18px;
        padding: 0;
        
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        color: #000;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        border-radius: 9px;
        text-align: center;

      }
      
      .fas {
        font-size: 20px;
        @include btn_tran;
      }
      
    }
  }
  
  #drop_list_dates {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom: none;
  }
  
  #drop_list_hh,
  #drop_list_min  {
    width: 25%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom: none;
  }
  
  .kalendar_date_day,
  .drop_item_hh,
  .drop_item_min {
    
    cursor: pointer;
    line-height: normal;

    &.cit_sub,
    &.cit_ned {
      background: $blue_l;
      &:hover {
        background: #ffc4c4;
      }
    }
    
    
    &.cit_sub.cit_active,
    &.cit_ned.cit_active {
      background: $dark_red;
      color: #fff;
    }
    
    &:hover {
      background: $light_red;
    }
    
    &.cit_active {
      background: #b9001c;
      color: #fff;
    }

    width: 100%;
    height: 20px;

    border-bottom: 1px solid #ccc;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    .kalendar_date {
      width: 80px;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 3px;
      box-sizing: border-box;
      line-height: normal;
    }

    .kalendar_day {
      display: flex;
      align-items: center;
      width: calc(100% - 80px);
      height: 100%;
      box-sizing: border-box;
      padding: 3px;
      line-height: normal;
    }

  }
  
  
  .drop_item_min {
    height: calc(100%/12);
  }
  
  .drop_item_min:last-of-type {
    height: calc(100%/12 + 2px);
  }
  
}

/* KRAJ  #search_autocomplete_container  */


#nema_rezultata {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  min-height: 100px;
  display: flex;
}

.search_result_table {
  position: relative;
  width: 100%;
  overflow: auto;
  padding-top: 0;
  font-size: 12px;
  
    
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

.result_table_inside_gui {
  padding-top: 15px;
  padding-bottom: 15px;
}

.result_table_inside_gui .search_result_table {
  
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}


.cit_excel {
  padding-top: 15px;
  padding-bottom: 15px;

  .search_result_table {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0;
    .search_result_column {
      
      
      padding: 0;
      margin: 0;
      
      .cit_label {
        display: none;
      }
      

      .cit_input {
        padding: 5px;
        border: none;
        font-size: 12px;
        color: #000;
        margin: 1px -1px 1px 2px;
        border-radius: 0;
        height: calc(100% - 2px);
        
        &:disabled {
          background-color: #fff;
          cursor: not-allowed;
        }

      }
      
      &.button_delete {
        align-items: center;
      }
      
    }
    
  }

}


.custom_result_box {

  display: flex; 
  flex-direction: column;
  width: 100%;
  background: #fff;

  padding: 5px;
  border: none;
  font-size: 12px;
  color: #000;
  margin: 1px -1px 1px 2px;
  border-radius: 0;
  height: calc(100% - 2px);

}



.search_result_row {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  line-height: 30px;
  margin-top: -1px;
  font-size: 12px;
  position: relative;
  
  &:hover {
    background-color: #fff;
  }

  .search_result_column {
    
    display: flex;
    box-sizing: border-box;
    word-break: break-word;
    width: calc(14.285% + 1px);
    line-height: normal;
    padding: 3px;
    border: 1px solid #bdbcbc;
    border-left: 1px solid transparent;
    margin-left: -1px;
    cursor: pointer;
    border-right: 1px solid transparent;

    .cit_search_result_image {
      border-radius: 5px;
      max-height: 30px;
    }
    
    .cit_search_result_map_link {
      font-size: 20px;
      display: block;
      margin: 0 auto; 
    }
    
    .result_row_reply_btn,
    .result_row_edit_btn,
    .result_row_delete_btn,
    .result_row_seen_btn,
    .result_row_version_btn {
      
      @include flex_center;
      
      @include btn_tran;
      
      width: 20px;
      height: 20px;
      border-radius: 4px;
      color: #fff;
      margin: 0 auto;
      font-size: 16px;
      
      i {
        left: unset !important;
        top: unset !important;
        position: relative !important;
        transform: none !important;
        opacity: 1 !important;
        font-size: inherit !important;
      }
      
    }
    
    
    .result_row_version_btn {
      
      @include flex_center;
      
      @include btn_tran;
      
      width: auto;
      height: 26px;
      border-radius: 4px;
      color: #fff;
      margin: 0 auto;
      
      font-size: 13px;
      padding: 5px 10px;
      font-weight: 700;
      user-select: none;
      
      i {
        left: unset !important;
        top: unset !important;
        position: relative !important;
        transform: none !important;
        opacity: 1 !important;
        font-size: inherit !important;
      }
      
    }
    
    
    .result_row_reply_btn {
      background-color: #207133;
    }
    
    
    .result_row_edit_btn {
      background-color: #5c6ce8;
    }
    .result_row_delete_btn {
      background-color: #bf0060;
    }
    
    .result_row_seen_btn {
      background-color: #a35800;
    }
    
    .result_row_version_btn {
      
      background-color: #a402a9;
      font-size: 10px;
      letter-spacing: 0.05rem;
      
      i {
        margin-right: 5px;
        font-size: 16px !important;
      }
      
    }
    
    &.prodon_name {
      font-size: 24px;
    }
    
  }

  .search_result_column.header_column {
    
    @include flex_center;
    
    font-size: 9px;
    box-sizing: border-box;
    width: calc(10% + 1px);
    line-height: 1;
    padding: 3px 14px 3px 0;
    border: 1px solid #bdbcbc;
    margin-left: -1px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    position: relative;
    letter-spacing: 0.02rem;
    user-select: none;

    .fa-caret-down {
      @include flex_center;
      
      position: absolute;
      margin-top: 5px;
      top: 50%;
      right: 3px;
      font-size: 12px;
      transform: translateY(-50%) rotate(0deg);
    }
    

    
    .fa-caret-up {
      @include flex_center;
      
      position: absolute;
      margin-top: -3px;
      top: 50%;
      right: 3px;
      font-size: 12px;
      transform: translateY(-50%) rotate(0deg);
      
    }
    
  }

  
}


/* AKO JE OVO RED ZA SUME !!!! */
/* AKO JE OVO RED ZA SUME !!!! */
/* AKO JE OVO RED ZA SUME !!!! */

.search_result_row.sum_row {
  
  border: 1px solid #bdbcbc;
  border-radius: 10px 10px 0 0;

  .search_result_column {

    display: flex;
    box-sizing: border-box;
    word-break: break-word;
    line-height: normal;
    /*padding: 3px 14px 3px 0;*/
    padding: 3px;
    font-size: 14px;
    font-weight: 700;
    margin-left: -1px;
    cursor: pointer;
    border: none !important;

  }

}



/* AKO JE OVO RED ZA PAGINACIJU !!!! */
/* AKO JE OVO RED ZA PAGINACIJU !!!! */
/* AKO JE OVO RED ZA PAGINACIJU !!!! */

.page_row {
  
  border: none;
  border-radius: 0;
  width: 100%;
  height: 30px;
  
  @include flex_center;
  
  .page_num_arrows_box {

    display: flex;
    height: 100%;
    box-sizing: border-box;
    word-break: break-word;
    line-height: normal;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: none !important;
    
    
    .page_arrow_prev,
    .page_arrow_next {
      
      @include btn_tran;
      @include flex_center;
      
      color: #3f6ad8;
      font-size: 20px;
      width: 60px;
      
    }
    
    .page_num_box {
      display: flex;
      align-items: center;
      
      .page_num_curr,
      .page_num_max {
        
        
      }
      
      .page_num_slash {
        margin: 0 5px;
      }
      
    }
    
    
    
    
  }

}




.search_result_row .search_result_column.header_column.cit_asc {

  background: #e2ede5;
  
  .fa-caret-up {
    display: none;
  }
  
}


.search_result_row .search_result_column.header_column.cit_desc {  
  
  background: #f3e6e9;
  
  .fa-caret-down {
    display: none;
  }  
  
}


.search_result_row.hovered {
  background-color: #d4fdf3; /* #acffec; */
}

.search_result_row.header {
  flex: 1;
  height: auto;
  z-index: 997;
  position: relative;
  background-color: #fff;
  width: calc( 100% - 1px);
  margin-left: 1px;
}

.search_result_row.header.sidebar_list {

  .search_result_column.header_column {
    padding: 1px 3px;
  }
}


.search_result_row.sidebar_list {
  .search_result_column {
    padding: 1px 3px;
  }
}



.statuses_box .search_result_row .search_result_column.header_column {
  padding: 4px;
};

#layer_below_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0.1;
  z-index: 998;
  pointer-events: none;
  opacity: 0;
}

#layer_below_modal.cit_show {
  pointer-events: all;
  opacity: 1;
}

/* ------------------------  */

.docs_row {
  
  width: 100%;
  display: flex;
  
  &:hover {
    background: #c8e8fc;
  }
  
  .docs_date {
    width: 40%;
    box-sizing: border-box;
    padding-right: 5px;
    text-align: right;
  }
  
  .docs_link {
    width: 60%;
    box-sizing: border-box;
  }

  .docs_cell {
    box-sizing: border-box;
  }
}


.search_result_column.docs,
.search_result_column.graf_docs,
.search_result_column.products,
.search_result_column.company_links,
.search_result_column.sirov_links,
.search_result_column.price_docs,
.search_result_column.nacrt_docs,
.search_result_column.spec_docs,
.search_result_column.doc_links,
.search_result_column.def_rows,
.search_result_column.doc_link,
.search_result_column.product_links  {
  
  flex-direction: column;
  
  .def {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    div {
      padding-top: 2px;
    }
  }
  
  .def:last-child {
    border-bottom: 1px solid transparent;
  }
  /* a {  margin: 0 auto; } */
}


.search_result_column.alati_links {
  display: block;
}



.search_result_column.late {
  font-weight: 700;
  color: red !important;
}


#partner_doc_box .scrollbar-macosx {
  max-height: 800px !important;
}


