/* ------------------- BUTTONS ------------------- */

.blue_btn {
  
  @include flex_center;
  @include vel_radius;
  @include btn_rel;
  @include btn_tran;
  
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 700;
  color: #fff;
  background: $vel_blue;
  border: none;
  box-shadow: 0 16px 26px -10px rgb(63 106 216 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(63 106 216 / 20%);
  margin: 15px auto 5px; 
  
  &.cit_hide {
    @include btn_rel_hide;
  }
  
}

.production_btn {
  
  @include flex_center;
  @include vel_radius;
  @include btn_rel;
  @include btn_tran;
  
  transition: none;
  height: auto;
  width: auto;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;  
  color: #fff;
  background: $vel_blue;
  border: none;
  box-shadow: none;
  margin: 30px auto; 
  
  &.cit_hide {
    @include btn_rel_hide;
  }
  
}



.small_btn {
  margin: 0;
  padding: 0;
  box-shadow: none;
  height: 28px;
  width: 28px;
}

.violet_btn {
  
  @include flex_center;
  @include vel_radius;
  @include btn_rel;
  @include btn_tran;
  
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 700;
  color: #fff;
  background: $vel_violet;
  border: none;
  box-shadow: 0 16px 26px -10px rgb(63 106 216 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(63 106 216 / 20%);
  margin: 15px auto 5px; 
  
  &.cit_hide {
    @include btn_rel_hide;
  }
  
}



.cit_btn {
  
  @include flex_center;
  @include vel_radius;
  @include btn_rel;
  @include btn_tran;
  
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px;
  font-weight: 700;
  background: transparent;
  border: none;
  margin: 0;
  
  &.cit_hide {
    @include btn_rel_hide;
  }
  
}


.blue_btn_text {
  
  @include flex_center;
  @include vel_radius;
  @include btn_rel;
  @include btn_tran;
  
  
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 400;
  color: $vel_blue;
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 5px auto;
  
  &.cit_hide {
    @include btn_rel_hide;
    margin: 0 auto;
  }
}


.btn_small_text {
  font-size: 10px;
  letter-spacing: 0.02rem;
}


.btn_circle {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.small_btn_link_left {
  margin: 20px auto 0 0;
  box-shadow: none;
  padding: 0 5px;
  min-width: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  &:active {
    color: #fff;
    text-decoration: none;
  }
}


.cit_storno_pill {
  color: #fff;
  background: #bf0060;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}


.cit_doc_pill {
  color: #fff;
  background: #bf0060;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}



.cit_extra_rn_pill {
  color: #fff;
  background: #00c3aa;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

