.legend_box {
  margin-left: 60px;
  margin-top: 10px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;

  .legend_color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0 10px;
    
  }

}

.cit_color_1 {
  background: #50e5e7;
}

.cit_color_2 {
  background: #56a100;
}

.cit_color_3 {
  background: #e14b4b;
}

.cit_color_4 {
  background: #14141d;
}


.cit_color_5 {
  background: #aa16ed;
}

.last_in_group {
  margin-right: 10px;
}


.cit_graf {

  width: 100%;
  overflow-x: auto;
  height: auto;
  min-width: 1600px;
  padding-top: 20px;

  .cit_graf_top {
    width: 100%;
    height: auto;
    display: flex;

    .vert_num_box {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 70px;

      .vert_num {
        display: flex;

        align-items: center;
        justify-content: flex-end;

        height: 30px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 5px;
        text-align: right;
        font-size: 12px;
        font-weight: 700;
        transform: translateY(-50%);
      }
    }

    .cit_graf_body {
      width: calc(100% - 100px);
      position: relative;
      box-sizing: border-box;

      border-left: 1px solid #7a7a7e;
      border-bottom: 1px solid #7a7a7e;

      .hor_lines_box {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        position: absolute;
        pointer-events: none;
        z-index: 1;

        .hor_line {
          height: 30px;
          border-top: 1px solid #ccc;
          width: 100%;
        }


      }

      .cit_graf_content {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        position: absolute;
        pointer-events: all;
        z-index: 2;
        display: flex;
        align-items: flex-end;

        .graf_col {
          width: 20px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }

      }

    }


  }

  .cit_graf_bottom {
    width: 100%;
    height: auto;
    display: flex;

    .hor_empty {
      width: 70px;
      height: 30px;
    }

    .hor_num {
      display: flex;
      align-items: start;
      justify-content: center;
      
      width: 90px;
      height: 30px;
      
      /*
      writing-mode: vertical-rl;
      align-items: center;
      justify-content: flex-start;
      */
      
      text-align: center;
      box-sizing: border-box;
      border-left: 1px solid #ccc;
      padding-top: 5px;
      font-size: 12px;
      font-weight: 700;

    }

  }


}