
#image_popup_spremnik {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  z-index: 11111;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .cit_search_result_image {
    margin: 0 auto;
  }
}
