@import "./vars";
@import "./mixins";

/* ------------------- INPUTS ------------------- */


.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}

.cit_hide {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.cit_label {
  color: #71787d;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  padding-left: 13px;
  margin-top: 5px;
  display: block;
  margin-bottom: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}


.cit_input,
.cit_text_area {
  display: block;
  width: 100%;
  height: calc(1.8rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:disabled {
    /*background-color: #e6e6e6;*/
    background-color: transparent;
    cursor: not-allowed;
  }

  &.missing_data {
    background: #fd9797;
  }
  
  &.string,
  &.single_select {
    font-size: 0.85rem;
    letter-spacing: unset;
  }
  
  
}


.cit_input.number {
  text-align: right !important;
}



.cit_text_area {
  min-height: 100px;
  font-size: 13px;
}


.cit_input:focus,
.cit_text_area:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a9bcee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}



.cit_switch {
  width: 80px;
  height: 32px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.switch_circle {
  height: 24px;
  width: 24px;
  border-radius: 11px;
  background-color: #e6e6e5;
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 99;
}


.switch_text {
  float: left;
  width: 50%;
  text-align: center;
  height: 20px;
  line-height: 15px;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.off_text {
  background-color: white;
  color: #333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 0px;
}

.on_text {
  background-color: #238eff;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: -5px;
}

.kalk_sample .on_text {
  background-color: #27527b;
}

.cit_switch.off .switch_circle {
  left: 6px;
  top: 3px;
}

.cit_switch.on .switch_circle {
  left: 50px;
  top: 3px;
  background: #49a0fb;
}


.kalk_sample.on .switch_circle {
  background: #27527b;
}


.cit_switch.off .on_text {
  width: 20%;
}

.cit_switch.off .off_text {
  width: 80%;
}

.cit_switch.on .on_text {
  width: 80%;
}

.cit_switch.on .off_text {
  width: 20%;
}

.cit_check_box {

  width: 26px;
  height: 26px;
  background-color: #fff;
  border: 1px solid #cecece;
  display: flex;
  border-radius: 9px;
  margin: 0 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.on {
    i {
      font-size: 20px;
      color: #3f6ad8;
      transition: all 0.1s cubic-bezier(.73, -0.14, .36, 1.25);
      transform: scale(1);
    }
  }

  &.off {
    i {
      font-size: 20px;
      color: #3f6ad8;
      transition: all 0.1s cubic-bezier(.65, .07, .89, .65);
      transform: scale(0);
    }
  }


}


.multi_list {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .multi_list_header {

    display: flex;
    align-items: center;
    background: #fff;
    height: 23px;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #bdbcbc;

    .multi_header_cell {
      @include flex_center;
      text-align: center;
      padding: 0 5px;
      box-sizing: border-box;
      border-right: 1px solid #bdbcbc;
      height: 100%;
    }

    .multi_header_cell:last-of-type {
      border-right: 0px solid #bdbcbc;
    }


  }

  .multi_row {

    display: flex;
    align-items: center;

    height: auto;
    /*background: #f6f6f9;*/
    padding: 3px 0;

    border-left: 1px solid #bdbcbc;
    border-right: 1px solid #bdbcbc;
    border-bottom: 1px solid #bdbcbc;
    box-sizing: border-box;

    cursor: pointer;

    &:hover {
      background: #fff;
    }

    .multi_cell {
      @include flex_center;
      padding: 0 5px;
      height: 100%;
    }


    .multi_list_btn {

      @include flex_center;
      @include btn_tran;

      padding: 0 5px;
      cursor: pointer;
      height: 20px;
      width: 20px;

      border-width: 0;
      border-radius: 4px;

      i {
        @include flex_center;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        opacity: unset;
        font-size: 16px;
      }

    }

    .multi_cell_delete_btn {
      background-color: #bf0060;
      color: #fff;
    }

    .multi_cell_edit_btn {
      background-color: #0158be;
      color: #fff;
    }

  }


  .multi_row:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

  }

}



/* ----------------------- UPLOAD FILES -----------------------  */



.upload_list_box {
  width: 100%;
  height: auto;
  overflow: visible;
  transition: all 0.3s;
  margin-top: -10px;

  .upload_list {
    width: 100%;
    height: auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 10px;

    .upload_list_item {
      border-bottom: 1px solid #ccc;
      font-size: 13px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 10px;
    }
  }

}