.his_table {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  
  .his_header_row {
    
    display: flex;
    align-items: center;
    
    background: #ecebeb;  
    height: 16px;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    .his_col {
      @include flex_center;  
      padding: 0 5px;
    }
    
  }
  
  .his_row {
    
    display: flex;
    align-items: center;
    
    height: auto;
    background: #f6f6f9;
    padding: 3px 0;
    
    &:hover {
      background: #fff;
    }
    .his_col {
      @include flex_center;  
      padding: 0 5px;
      height: 100%;
      
      .status_green_circle {
        width: 30px;
        height: 30px;
        background: #009000;
        border-radius: 15px;
      }
      
    }
    
    
    .his_btn {
      
      @include flex_center;  
      @include btn_tran;
      padding: 0 5px;
      cursor: pointer;
      height: 16px;
      width: 16px;

      border-width: 0;
      border-radius: 4px;
      
      
      i {
        @include flex_center;  
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        opacity: unset;
        font-size: 14px;
      }
      
    }
    
    .his_delete_btn {
      background-color: #be0101;
      color: #fff;
    }
    
    .his_edit_btn {
      background-color: #0158be;
      color: #fff;
    }
    
  }
  
  
  .his_col.his_time { flex: 1; text-align: center; }
  .his_col.his_from { flex: 1; text-align: center; }
  .his_col.his_status { flex: 1; text-align: center; font-size: 11px; font-weight: 700; }
  .his_col.his_comment { flex: 4; text-align: left; justify-content: flex-start; }
  .his_col.his_to { flex: 2; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
  .his_col.his_allocated_time { flex: 1; text-align: center; }
  .his_col.his_allocated_time_date { flex: 1; text-align: center; }
  .his_col.his_duration { flex: 1; text-align: center; }
  .his_col.his_late { flex: 1; color: red; text-align: center; }
  .his_col.his_done { flex: 1; text-align: center; }
  .his_col.his_edit { flex: 1; text-align: center; }
  
  .his_col .cit_responsible {
    padding: 0 5px;
    background: #ca0101;
    color: #fff;
    border-radius: 3px;
  }
  
}


.his_edit_btn {

  @include flex_center;

  @include btn_tran;

  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  background-color: #5c6ce8;
  
  i.fal {
    
    transform: unset;
    position: unset;
    opacity: unset;
    
  }

}
    
