
/* ------------------- MIXINS ------------------- */

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



@mixin vel_radius {
  border-radius: 6px;
}

@mixin btn_abs {
  cursor: pointer;
  transition: all 0.2s;
  top: 50%;
  transform: translateY(-50%) scale(1);
}

@mixin btn_abs_hide {
  height: 0;
  transform: translateY(-50%) scale(0);
}

@mixin btn_tran {
  
  cursor: pointer;
  
  /*transition: all 0.2s;*/
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
  
  &:active {
    transform: scale(0.95);
    filter: brightness(0.9);
  }
  
  &.cit_disable {
    pointer-events: none;
    opacity: 0.3;
  }
}
  



@mixin btn_rel {
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
}

@mixin btn_rel_hide {
  height: 0;
  transform: scale(0);
}



@mixin sinop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon_grad  {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(180deg, #00b763 0%, #0277be 100%);
}

@mixin pos_abs_top_left {
  position: absolute;
  left: 20px;
  right: 20px;
  z-index: 999;
}

@mixin pos_abs_top_right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

@mixin pos_abs_top_center {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}