@charset "UTF-8";
/* ------------------- MIXINS ------------------- */
/* ------------------- MIXINS ------------------- */
.cit_table_parent {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
}

#search_autocomplete_container {
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  background-color: #f6f6f9;
  box-shadow: 0 0 56px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-left: -150px;
  height: auto;
  min-height: 100px;
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*display: flex;*/
  border-radius: 10px;
  font-size: 12px;
  color: #444546;
}
#search_autocomplete_container .header_column {
  border: 0px solid transparent;
  border-bottom: 1px solid #bdbcbc;
  font-size: 9px;
  font-weight: 700;
  padding: 5px 14px 5px 0;
  user-select: none;
}
#search_autocomplete_container .search_result_table {
  max-height: 400px;
}
#search_autocomplete_container #drop_list_dates,
#search_autocomplete_container #drop_list_hh,
#search_autocomplete_container #drop_list_min {
  height: 480px;
  overflow-y: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
#search_autocomplete_container #drop_list_dates::-webkit-scrollbar,
#search_autocomplete_container #drop_list_hh::-webkit-scrollbar,
#search_autocomplete_container #drop_list_min::-webkit-scrollbar {
  display: none;
}
#search_autocomplete_container #simple_calendar_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  height: 20px;
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box #simple_month_display,
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box #simple_year_display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 9px;
  text-align: center;
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box .fas {
  font-size: 20px;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box .fas:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box .fas:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
#search_autocomplete_container #simple_calendar_header .simple_cal_select_box .fas.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
#search_autocomplete_container #drop_list_dates {
  width: 50%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-bottom: none;
}
#search_autocomplete_container #drop_list_hh,
#search_autocomplete_container #drop_list_min {
  width: 25%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-bottom: none;
}
#search_autocomplete_container .kalendar_date_day,
#search_autocomplete_container .drop_item_hh,
#search_autocomplete_container .drop_item_min {
  cursor: pointer;
  line-height: normal;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_autocomplete_container .kalendar_date_day.cit_sub, #search_autocomplete_container .kalendar_date_day.cit_ned,
#search_autocomplete_container .drop_item_hh.cit_sub,
#search_autocomplete_container .drop_item_hh.cit_ned,
#search_autocomplete_container .drop_item_min.cit_sub,
#search_autocomplete_container .drop_item_min.cit_ned {
  background: #e0f3ff;
}
#search_autocomplete_container .kalendar_date_day.cit_sub:hover, #search_autocomplete_container .kalendar_date_day.cit_ned:hover,
#search_autocomplete_container .drop_item_hh.cit_sub:hover,
#search_autocomplete_container .drop_item_hh.cit_ned:hover,
#search_autocomplete_container .drop_item_min.cit_sub:hover,
#search_autocomplete_container .drop_item_min.cit_ned:hover {
  background: #ffc4c4;
}
#search_autocomplete_container .kalendar_date_day.cit_sub.cit_active, #search_autocomplete_container .kalendar_date_day.cit_ned.cit_active,
#search_autocomplete_container .drop_item_hh.cit_sub.cit_active,
#search_autocomplete_container .drop_item_hh.cit_ned.cit_active,
#search_autocomplete_container .drop_item_min.cit_sub.cit_active,
#search_autocomplete_container .drop_item_min.cit_ned.cit_active {
  background: #b9001c;
  color: #fff;
}
#search_autocomplete_container .kalendar_date_day:hover,
#search_autocomplete_container .drop_item_hh:hover,
#search_autocomplete_container .drop_item_min:hover {
  background: #ffc4c4;
}
#search_autocomplete_container .kalendar_date_day.cit_active,
#search_autocomplete_container .drop_item_hh.cit_active,
#search_autocomplete_container .drop_item_min.cit_active {
  background: #b9001c;
  color: #fff;
}
#search_autocomplete_container .kalendar_date_day .kalendar_date,
#search_autocomplete_container .drop_item_hh .kalendar_date,
#search_autocomplete_container .drop_item_min .kalendar_date {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  box-sizing: border-box;
  line-height: normal;
}
#search_autocomplete_container .kalendar_date_day .kalendar_day,
#search_autocomplete_container .drop_item_hh .kalendar_day,
#search_autocomplete_container .drop_item_min .kalendar_day {
  display: flex;
  align-items: center;
  width: calc(100% - 80px);
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
  line-height: normal;
}
#search_autocomplete_container .drop_item_min {
  height: calc(100%/12);
}
#search_autocomplete_container .drop_item_min:last-of-type {
  height: calc(100%/12 + 2px);
}

/* KRAJ  #search_autocomplete_container  */
#nema_rezultata {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  min-height: 100px;
  display: flex;
}

.search_result_table {
  position: relative;
  width: 100%;
  overflow: auto;
  padding-top: 0;
  font-size: 12px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.search_result_table::-webkit-scrollbar {
  display: none;
}

.result_table_inside_gui {
  padding-top: 15px;
  padding-bottom: 15px;
}

.result_table_inside_gui .search_result_table {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cit_excel {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cit_excel .search_result_table {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 0;
}
.cit_excel .search_result_table .search_result_column {
  padding: 0;
  margin: 0;
}
.cit_excel .search_result_table .search_result_column .cit_label {
  display: none;
}
.cit_excel .search_result_table .search_result_column .cit_input {
  padding: 5px;
  border: none;
  font-size: 12px;
  color: #000;
  margin: 1px -1px 1px 2px;
  border-radius: 0;
  height: calc(100% - 2px);
}
.cit_excel .search_result_table .search_result_column .cit_input:disabled {
  background-color: #fff;
  cursor: not-allowed;
}
.cit_excel .search_result_table .search_result_column.button_delete {
  align-items: center;
}

.custom_result_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 5px;
  border: none;
  font-size: 12px;
  color: #000;
  margin: 1px -1px 1px 2px;
  border-radius: 0;
  height: calc(100% - 2px);
}

.search_result_row {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  line-height: 30px;
  margin-top: -1px;
  font-size: 12px;
  position: relative;
}
.search_result_row:hover {
  background-color: #fff;
}
.search_result_row .search_result_column {
  display: flex;
  box-sizing: border-box;
  word-break: break-word;
  width: calc(14.285% + 1px);
  line-height: normal;
  padding: 3px;
  border: 1px solid #bdbcbc;
  border-left: 1px solid transparent;
  margin-left: -1px;
  cursor: pointer;
  border-right: 1px solid transparent;
}
.search_result_row .search_result_column .cit_search_result_image {
  border-radius: 5px;
  max-height: 30px;
}
.search_result_row .search_result_column .cit_search_result_map_link {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}
.search_result_row .search_result_column .result_row_reply_btn,
.search_result_row .search_result_column .result_row_edit_btn,
.search_result_row .search_result_column .result_row_delete_btn,
.search_result_row .search_result_column .result_row_seen_btn,
.search_result_row .search_result_column .result_row_version_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
}
.search_result_row .search_result_column .result_row_reply_btn:hover,
.search_result_row .search_result_column .result_row_edit_btn:hover,
.search_result_row .search_result_column .result_row_delete_btn:hover,
.search_result_row .search_result_column .result_row_seen_btn:hover,
.search_result_row .search_result_column .result_row_version_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.search_result_row .search_result_column .result_row_reply_btn:active,
.search_result_row .search_result_column .result_row_edit_btn:active,
.search_result_row .search_result_column .result_row_delete_btn:active,
.search_result_row .search_result_column .result_row_seen_btn:active,
.search_result_row .search_result_column .result_row_version_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.search_result_row .search_result_column .result_row_reply_btn.cit_disable,
.search_result_row .search_result_column .result_row_edit_btn.cit_disable,
.search_result_row .search_result_column .result_row_delete_btn.cit_disable,
.search_result_row .search_result_column .result_row_seen_btn.cit_disable,
.search_result_row .search_result_column .result_row_version_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.search_result_row .search_result_column .result_row_reply_btn i,
.search_result_row .search_result_column .result_row_edit_btn i,
.search_result_row .search_result_column .result_row_delete_btn i,
.search_result_row .search_result_column .result_row_seen_btn i,
.search_result_row .search_result_column .result_row_version_btn i {
  left: unset !important;
  top: unset !important;
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
  font-size: inherit !important;
}
.search_result_row .search_result_column .result_row_version_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: auto;
  height: 26px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 13px;
  padding: 5px 10px;
  font-weight: 700;
  user-select: none;
}
.search_result_row .search_result_column .result_row_version_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.search_result_row .search_result_column .result_row_version_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.search_result_row .search_result_column .result_row_version_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.search_result_row .search_result_column .result_row_version_btn i {
  left: unset !important;
  top: unset !important;
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
  font-size: inherit !important;
}
.search_result_row .search_result_column .result_row_reply_btn {
  background-color: #207133;
}
.search_result_row .search_result_column .result_row_edit_btn {
  background-color: #5c6ce8;
}
.search_result_row .search_result_column .result_row_delete_btn {
  background-color: #bf0060;
}
.search_result_row .search_result_column .result_row_seen_btn {
  background-color: #a35800;
}
.search_result_row .search_result_column .result_row_version_btn {
  background-color: #a402a9;
  font-size: 10px;
  letter-spacing: 0.05rem;
}
.search_result_row .search_result_column .result_row_version_btn i {
  margin-right: 5px;
  font-size: 16px !important;
}
.search_result_row .search_result_column.prodon_name {
  font-size: 24px;
}
.search_result_row .search_result_column.header_column {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  box-sizing: border-box;
  width: calc(10% + 1px);
  line-height: 1;
  padding: 3px 14px 3px 0;
  border: 1px solid #bdbcbc;
  margin-left: -1px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  position: relative;
  letter-spacing: 0.02rem;
  user-select: none;
}
.search_result_row .search_result_column.header_column .fa-caret-down {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 5px;
  top: 50%;
  right: 3px;
  font-size: 12px;
  transform: translateY(-50%) rotate(0deg);
}
.search_result_row .search_result_column.header_column .fa-caret-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -3px;
  top: 50%;
  right: 3px;
  font-size: 12px;
  transform: translateY(-50%) rotate(0deg);
}

/* AKO JE OVO RED ZA SUME !!!! */
/* AKO JE OVO RED ZA SUME !!!! */
/* AKO JE OVO RED ZA SUME !!!! */
.search_result_row.sum_row {
  border: 1px solid #bdbcbc;
  border-radius: 10px 10px 0 0;
}
.search_result_row.sum_row .search_result_column {
  display: flex;
  box-sizing: border-box;
  word-break: break-word;
  line-height: normal;
  /*padding: 3px 14px 3px 0;*/
  padding: 3px;
  font-size: 14px;
  font-weight: 700;
  margin-left: -1px;
  cursor: pointer;
  border: none !important;
}

/* AKO JE OVO RED ZA PAGINACIJU !!!! */
/* AKO JE OVO RED ZA PAGINACIJU !!!! */
/* AKO JE OVO RED ZA PAGINACIJU !!!! */
.page_row {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_row .page_num_arrows_box {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  word-break: break-word;
  line-height: normal;
  padding: 0px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border: none !important;
}
.page_row .page_num_arrows_box .page_arrow_prev,
.page_row .page_num_arrows_box .page_arrow_next {
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f6ad8;
  font-size: 20px;
  width: 60px;
}
.page_row .page_num_arrows_box .page_arrow_prev:hover,
.page_row .page_num_arrows_box .page_arrow_next:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.page_row .page_num_arrows_box .page_arrow_prev:active,
.page_row .page_num_arrows_box .page_arrow_next:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.page_row .page_num_arrows_box .page_arrow_prev.cit_disable,
.page_row .page_num_arrows_box .page_arrow_next.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.page_row .page_num_arrows_box .page_num_box {
  display: flex;
  align-items: center;
}
.page_row .page_num_arrows_box .page_num_box .page_num_slash {
  margin: 0 5px;
}

.search_result_row .search_result_column.header_column.cit_asc {
  background: #e2ede5;
}
.search_result_row .search_result_column.header_column.cit_asc .fa-caret-up {
  display: none;
}

.search_result_row .search_result_column.header_column.cit_desc {
  background: #f3e6e9;
}
.search_result_row .search_result_column.header_column.cit_desc .fa-caret-down {
  display: none;
}

.search_result_row.hovered {
  background-color: #d4fdf3;
  /* #acffec; */
}

.search_result_row.header {
  flex: 1;
  height: auto;
  z-index: 997;
  position: relative;
  background-color: #fff;
  width: calc( 100% - 1px);
  margin-left: 1px;
}

.search_result_row.header.sidebar_list .search_result_column.header_column {
  padding: 1px 3px;
}

.search_result_row.sidebar_list .search_result_column {
  padding: 1px 3px;
}

.statuses_box .search_result_row .search_result_column.header_column {
  padding: 4px;
}

#layer_below_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0.1;
  z-index: 998;
  pointer-events: none;
  opacity: 0;
}

#layer_below_modal.cit_show {
  pointer-events: all;
  opacity: 1;
}

/* ------------------------  */
.docs_row {
  width: 100%;
  display: flex;
}
.docs_row:hover {
  background: #c8e8fc;
}
.docs_row .docs_date {
  width: 40%;
  box-sizing: border-box;
  padding-right: 5px;
  text-align: right;
}
.docs_row .docs_link {
  width: 60%;
  box-sizing: border-box;
}
.docs_row .docs_cell {
  box-sizing: border-box;
}

.search_result_column.docs,
.search_result_column.graf_docs,
.search_result_column.products,
.search_result_column.company_links,
.search_result_column.sirov_links,
.search_result_column.price_docs,
.search_result_column.nacrt_docs,
.search_result_column.spec_docs,
.search_result_column.doc_links,
.search_result_column.def_rows,
.search_result_column.doc_link,
.search_result_column.product_links {
  flex-direction: column;
  /* a {  margin: 0 auto; } */
}
.search_result_column.docs .def,
.search_result_column.graf_docs .def,
.search_result_column.products .def,
.search_result_column.company_links .def,
.search_result_column.sirov_links .def,
.search_result_column.price_docs .def,
.search_result_column.nacrt_docs .def,
.search_result_column.spec_docs .def,
.search_result_column.doc_links .def,
.search_result_column.def_rows .def,
.search_result_column.doc_link .def,
.search_result_column.product_links .def {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}
.search_result_column.docs .def div,
.search_result_column.graf_docs .def div,
.search_result_column.products .def div,
.search_result_column.company_links .def div,
.search_result_column.sirov_links .def div,
.search_result_column.price_docs .def div,
.search_result_column.nacrt_docs .def div,
.search_result_column.spec_docs .def div,
.search_result_column.doc_links .def div,
.search_result_column.def_rows .def div,
.search_result_column.doc_link .def div,
.search_result_column.product_links .def div {
  padding-top: 2px;
}
.search_result_column.docs .def:last-child,
.search_result_column.graf_docs .def:last-child,
.search_result_column.products .def:last-child,
.search_result_column.company_links .def:last-child,
.search_result_column.sirov_links .def:last-child,
.search_result_column.price_docs .def:last-child,
.search_result_column.nacrt_docs .def:last-child,
.search_result_column.spec_docs .def:last-child,
.search_result_column.doc_links .def:last-child,
.search_result_column.def_rows .def:last-child,
.search_result_column.doc_link .def:last-child,
.search_result_column.product_links .def:last-child {
  border-bottom: 1px solid transparent;
}

.search_result_column.alati_links {
  display: block;
}

.search_result_column.late {
  font-weight: 700;
  color: red !important;
}

#partner_doc_box .scrollbar-macosx {
  max-height: 800px !important;
}

/* ------------------- CARDS ------------------- */
.cit_card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  /*transition: all .2s;*/
}

.full_width_card {
  background-color: #fff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* ------------------- BUTTONS ------------------- */
.blue_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 700;
  color: #fff;
  background: #3f6ad8;
  border: none;
  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  margin: 15px auto 5px;
}
.blue_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.blue_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.blue_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.blue_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.production_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: auto;
  width: auto;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #3f6ad8;
  border: none;
  box-shadow: none;
  margin: 30px auto;
}
.production_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.production_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.production_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.production_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.small_btn {
  margin: 0;
  padding: 0;
  box-shadow: none;
  height: 28px;
  width: 28px;
}

.violet_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 700;
  color: #fff;
  background: #a409dd;
  border: none;
  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  margin: 15px auto 5px;
}
.violet_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.violet_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.violet_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.violet_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.cit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px;
  font-weight: 700;
  background: transparent;
  border: none;
  margin: 0;
}
.cit_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.cit_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.cit_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.cit_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.blue_btn_text {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 400;
  color: #3f6ad8;
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 5px auto;
}
.blue_btn_text:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.blue_btn_text:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.blue_btn_text.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.blue_btn_text.cit_hide {
  height: 0;
  transform: scale(0);
  margin: 0 auto;
}

.btn_small_text {
  font-size: 10px;
  letter-spacing: 0.02rem;
}

.btn_circle {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small_btn_link_left {
  margin: 20px auto 0 0;
  box-shadow: none;
  padding: 0 5px;
  min-width: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small_btn_link_left:hover {
  color: #fff;
  text-decoration: none;
}
.small_btn_link_left:active {
  color: #fff;
  text-decoration: none;
}

.cit_storno_pill {
  color: #fff;
  background: #bf0060;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

.cit_doc_pill {
  color: #fff;
  background: #bf0060;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

.cit_extra_rn_pill {
  color: #fff;
  background: #00c3aa;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

.legend_box {
  margin-left: 60px;
  margin-top: 10px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.legend_box .legend_color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 0 10px;
}

.cit_color_1 {
  background: #50e5e7;
}

.cit_color_2 {
  background: #56a100;
}

.cit_color_3 {
  background: #e14b4b;
}

.cit_color_4 {
  background: #14141d;
}

.cit_color_5 {
  background: #aa16ed;
}

.last_in_group {
  margin-right: 10px;
}

.cit_graf {
  width: 100%;
  overflow-x: auto;
  height: auto;
  min-width: 1600px;
  padding-top: 20px;
}
.cit_graf .cit_graf_top {
  width: 100%;
  height: auto;
  display: flex;
}
.cit_graf .cit_graf_top .vert_num_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 70px;
}
.cit_graf .cit_graf_top .vert_num_box .vert_num {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  transform: translateY(-50%);
}
.cit_graf .cit_graf_top .cit_graf_body {
  width: calc(100% - 100px);
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #7a7a7e;
  border-bottom: 1px solid #7a7a7e;
}
.cit_graf .cit_graf_top .cit_graf_body .hor_lines_box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.cit_graf .cit_graf_top .cit_graf_body .hor_lines_box .hor_line {
  height: 30px;
  border-top: 1px solid #ccc;
  width: 100%;
}
.cit_graf .cit_graf_top .cit_graf_body .cit_graf_content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: all;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}
.cit_graf .cit_graf_top .cit_graf_body .cit_graf_content .graf_col {
  width: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.cit_graf .cit_graf_bottom {
  width: 100%;
  height: auto;
  display: flex;
}
.cit_graf .cit_graf_bottom .hor_empty {
  width: 70px;
  height: 30px;
}
.cit_graf .cit_graf_bottom .hor_num {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 90px;
  height: 30px;
  /*
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: flex-start;
  */
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 700;
}

/* ------------------- MIXINS ------------------- */
/* ------------------- INPUTS ------------------- */
.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}

.cit_hide {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.cit_label {
  color: #71787d;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  padding-left: 13px;
  margin-top: 5px;
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}

.cit_input,
.cit_text_area {
  display: block;
  width: 100%;
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cit_input:disabled,
.cit_text_area:disabled {
  /*background-color: #e6e6e6;*/
  background-color: transparent;
  cursor: not-allowed;
}
.cit_input.missing_data,
.cit_text_area.missing_data {
  background: #fd9797;
}
.cit_input.string, .cit_input.single_select,
.cit_text_area.string,
.cit_text_area.single_select {
  font-size: 0.85rem;
  letter-spacing: unset;
}

.cit_input.number {
  text-align: right !important;
}

.cit_text_area {
  min-height: 100px;
  font-size: 13px;
}

.cit_input:focus,
.cit_text_area:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a9bcee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.cit_switch {
  width: 80px;
  height: 32px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.switch_circle {
  height: 24px;
  width: 24px;
  border-radius: 11px;
  background-color: #e6e6e5;
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.switch_text {
  float: left;
  width: 50%;
  text-align: center;
  height: 20px;
  line-height: 15px;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.off_text {
  background-color: white;
  color: #333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 0px;
}

.on_text {
  background-color: #238eff;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: -5px;
}

.kalk_sample .on_text {
  background-color: #27527b;
}

.cit_switch.off .switch_circle {
  left: 6px;
  top: 3px;
}

.cit_switch.on .switch_circle {
  left: 50px;
  top: 3px;
  background: #49a0fb;
}

.kalk_sample.on .switch_circle {
  background: #27527b;
}

.cit_switch.off .on_text {
  width: 20%;
}

.cit_switch.off .off_text {
  width: 80%;
}

.cit_switch.on .on_text {
  width: 80%;
}

.cit_switch.on .off_text {
  width: 20%;
}

.cit_check_box {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border: 1px solid #cecece;
  display: flex;
  border-radius: 9px;
  margin: 0 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cit_check_box.on i {
  font-size: 20px;
  color: #3f6ad8;
  transition: all 0.1s cubic-bezier(0.73, -0.14, 0.36, 1.25);
  transform: scale(1);
}
.cit_check_box.off i {
  font-size: 20px;
  color: #3f6ad8;
  transition: all 0.1s cubic-bezier(0.65, 0.07, 0.89, 0.65);
  transform: scale(0);
}

.multi_list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.multi_list .multi_list_header {
  display: flex;
  align-items: center;
  background: #fff;
  height: 23px;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #bdbcbc;
}
.multi_list .multi_list_header .multi_header_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
  border-right: 1px solid #bdbcbc;
  height: 100%;
}
.multi_list .multi_list_header .multi_header_cell:last-of-type {
  border-right: 0px solid #bdbcbc;
}
.multi_list .multi_row {
  display: flex;
  align-items: center;
  height: auto;
  /*background: #f6f6f9;*/
  padding: 3px 0;
  border-left: 1px solid #bdbcbc;
  border-right: 1px solid #bdbcbc;
  border-bottom: 1px solid #bdbcbc;
  box-sizing: border-box;
  cursor: pointer;
}
.multi_list .multi_row:hover {
  background: #fff;
}
.multi_list .multi_row .multi_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 100%;
}
.multi_list .multi_row .multi_list_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  padding: 0 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-width: 0;
  border-radius: 4px;
}
.multi_list .multi_row .multi_list_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.multi_list .multi_row .multi_list_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.multi_list .multi_row .multi_list_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.multi_list .multi_row .multi_list_btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: unset;
  left: unset;
  transform: unset;
  opacity: unset;
  font-size: 16px;
}
.multi_list .multi_row .multi_cell_delete_btn {
  background-color: #bf0060;
  color: #fff;
}
.multi_list .multi_row .multi_cell_edit_btn {
  background-color: #0158be;
  color: #fff;
}
.multi_list .multi_row:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ----------------------- UPLOAD FILES -----------------------  */
.upload_list_box {
  width: 100%;
  height: auto;
  overflow: visible;
  transition: all 0.3s;
  margin-top: -10px;
}
.upload_list_box .upload_list {
  width: 100%;
  height: auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 10px;
}
.upload_list_box .upload_list .upload_list_item {
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

#image_popup_spremnik {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  z-index: 11111;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image_popup_spremnik .cit_search_result_image {
  margin: 0 auto;
}

.his_table {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}
.his_table .his_header_row {
  display: flex;
  align-items: center;
  background: #ecebeb;
  height: 16px;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.his_table .his_header_row .his_col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.his_table .his_row {
  display: flex;
  align-items: center;
  height: auto;
  background: #f6f6f9;
  padding: 3px 0;
}
.his_table .his_row:hover {
  background: #fff;
}
.his_table .his_row .his_col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 100%;
}
.his_table .his_row .his_col .status_green_circle {
  width: 30px;
  height: 30px;
  background: #009000;
  border-radius: 15px;
}
.his_table .his_row .his_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  padding: 0 5px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-width: 0;
  border-radius: 4px;
}
.his_table .his_row .his_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.his_table .his_row .his_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.his_table .his_row .his_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.his_table .his_row .his_btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: unset;
  left: unset;
  transform: unset;
  opacity: unset;
  font-size: 14px;
}
.his_table .his_row .his_delete_btn {
  background-color: #be0101;
  color: #fff;
}
.his_table .his_row .his_edit_btn {
  background-color: #0158be;
  color: #fff;
}
.his_table .his_col.his_time {
  flex: 1;
  text-align: center;
}
.his_table .his_col.his_from {
  flex: 1;
  text-align: center;
}
.his_table .his_col.his_status {
  flex: 1;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
}
.his_table .his_col.his_comment {
  flex: 4;
  text-align: left;
  justify-content: flex-start;
}
.his_table .his_col.his_to {
  flex: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.his_table .his_col.his_allocated_time {
  flex: 1;
  text-align: center;
}
.his_table .his_col.his_allocated_time_date {
  flex: 1;
  text-align: center;
}
.his_table .his_col.his_duration {
  flex: 1;
  text-align: center;
}
.his_table .his_col.his_late {
  flex: 1;
  color: red;
  text-align: center;
}
.his_table .his_col.his_done {
  flex: 1;
  text-align: center;
}
.his_table .his_col.his_edit {
  flex: 1;
  text-align: center;
}
.his_table .his_col .cit_responsible {
  padding: 0 5px;
  background: #ca0101;
  color: #fff;
  border-radius: 3px;
}

.his_edit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  background-color: #5c6ce8;
}
.his_edit_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.his_edit_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.his_edit_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.his_edit_btn i.fal {
  transform: unset;
  position: unset;
  opacity: unset;
}

/* ////////////////////////////////  POPUP MESSAGE MODAL //////////////////////////////// */
#layer_under_cit_popup_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.1);
}

#layer_under_cit_popup_modal.cit_show {
  pointer-events: all;
  opacity: 1;
}
#layer_under_cit_popup_modal.cit_show #cit_popup_modal {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}

#cit_popup_modal {
  transition: all 0.4s ease;
  position: relative;
  width: 90%;
  height: auto;
  z-index: 999;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(0.6);
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  overflow: visible;
  max-width: 500px;
}

#layer_under_cit_popup_modal.cit_show {
  pointer-events: all;
  opacity: 1;
}
#layer_under_cit_popup_modal.cit_show #cit_popup_modal {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}

#cit_popup_modal_message {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 400;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
#cit_popup_modal_message p {
  font-size: 16px;
}

#cit_popup_modal_message.cit_error,
#cit_popup_modal_message.cit_pay_error {
  padding: 10px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  padding-top: 40px;
  position: relative;
}
#cit_popup_modal_message.cit_error p,
#cit_popup_modal_message.cit_pay_error p {
  font-size: 16px;
  color: #fff;
}

#cit_popup_modal_message.cit_pay_error {
  padding-top: 100px;
}

#cit_popup_modal_message.cit_pay_error {
  background-color: #012442;
}

#cit_popup_modal_message.cit_pay_success,
#cit_popup_modal_message.cit_pay_warning {
  padding: 10px;
  background: #0e68b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 10px;
  padding-top: 100px;
  position: relative;
}
#cit_popup_modal_message.cit_pay_success p,
#cit_popup_modal_message.cit_pay_warning p {
  font-size: 16px;
  color: #fff;
}

#cit_popup_modal_message.cit_error:after {
  background-image: url("/img/error_modal.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: -70px;
  margin-left: -50px;
  margin-top: 0;
  content: "";
}

#cit_popup_modal_message.cit_pay_error:after {
  background-image: url("/img/payment_error_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: "";
}

#cit_popup_modal_message.cit_pay_success:after {
  background-image: url("/img/payment_success_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: "";
}

#cit_popup_modal_message.cit_pay_warning:after {
  background-image: url("/img/payment_warning_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: "";
}

#cit_popup_modal_message.cit_warning {
  padding: 10px;
  background-color: #ffd300;
  color: #000;
  border-radius: 10px;
  padding-top: 30px;
  position: relative;
}
#cit_popup_modal_message.cit_warning p {
  font-size: 16px;
  color: #000;
}

#cit_popup_modal_message.cit_warning:after {
  background-image: url("/img/warning_modal.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: -70px;
  margin-left: -50px;
  margin-top: 0;
}

#cit_popup_modal_progress_bar {
  height: 20px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

#cit_popup_modal_complete_bar {
  height: 100%;
  width: 0%;
  float: left;
  background-color: #04b7fe;
  line-height: 20px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  min-width: 7%;
  box-sizing: border-box;
  transition: width 0.4s ease;
  border-radius: 10px;
}

#cit_popup_modal_button_row {
  height: 60px;
  margin-top: 20px;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between;
}
#cit_popup_modal_button_row .cit_popup_modal_button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  transform: scale(1);
  border: none;
}
#cit_popup_modal_button_row .cit_popup_modal_button.cit_focus {
  box-shadow: 0px 0px 10px 4px rgba(14, 113, 26, 0.81);
  transform: scale(1.06);
}
#cit_popup_modal_button_row .cit_popup_modal_button:active {
  margin-top: 3px;
  box-shadow: 0px 3px transparent;
  /* border: solid 5px red; */
}
#cit_popup_modal_button_row .cit_popup_modal_button:focus-visible {
  border-width: 0;
  outline: none;
  box-shadow: 0px 0px 10px 4px rgba(14, 113, 26, 0.81) !important;
  transform: scale(1.06);
}
#cit_popup_modal_button_row .cit_popup_modal_button:focus {
  border-width: 0;
  outline: none;
  box-shadow: 0px 0px 10px 4px rgba(14, 113, 26, 0.81) !important;
  transform: scale(1.06);
}
#cit_popup_modal_button_row .cit_popup_modal_button:hover {
  transform: scale(1.06);
}

#cit_popup_modal_YES {
  background-color: #04b7fe;
  box-shadow: 0px 3px #004996;
}

#cit_popup_modal_OK {
  background-color: #04b7fe;
  box-shadow: 0px 3px #029ad6;
}

#cit_popup_modal_NO {
  background-color: #e8412f;
  box-shadow: 0px 3px #bf3021;
}

/* ////////////////////////////////   MODAL WINDOW  //////////////////////////////// */
.bla {
  font-size: 10px;
}
.bla .ffo {
  display: block;
}

/* ------------------- MIXINS ------------------- */
/* ------------------- BUTTONS ------------------- */
.blue_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 700;
  color: #fff;
  background: #3f6ad8;
  border: none;
  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  margin: 15px auto 5px;
}
.blue_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.blue_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.blue_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.blue_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.production_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: auto;
  width: auto;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #3f6ad8;
  border: none;
  box-shadow: none;
  margin: 30px auto;
}
.production_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.production_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.production_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.production_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.small_btn {
  margin: 0;
  padding: 0;
  box-shadow: none;
  height: 28px;
  width: 28px;
}

.violet_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 700;
  color: #fff;
  background: #a409dd;
  border: none;
  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  margin: 15px auto 5px;
}
.violet_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.violet_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.violet_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.violet_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.cit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px;
  font-weight: 700;
  background: transparent;
  border: none;
  margin: 0;
}
.cit_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.cit_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.cit_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.cit_btn.cit_hide {
  height: 0;
  transform: scale(0);
}

.blue_btn_text {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  height: 32px;
  width: auto;
  padding: 3px 20px;
  font-weight: 400;
  color: #3f6ad8;
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 5px auto;
}
.blue_btn_text:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.blue_btn_text:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.blue_btn_text.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.blue_btn_text.cit_hide {
  height: 0;
  transform: scale(0);
  margin: 0 auto;
}

.btn_small_text {
  font-size: 10px;
  letter-spacing: 0.02rem;
}

.btn_circle {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small_btn_link_left {
  margin: 20px auto 0 0;
  box-shadow: none;
  padding: 0 5px;
  min-width: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small_btn_link_left:hover {
  color: #fff;
  text-decoration: none;
}
.small_btn_link_left:active {
  color: #fff;
  text-decoration: none;
}

.cit_storno_pill {
  color: #fff;
  background: #bf0060;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

.cit_doc_pill {
  color: #fff;
  background: #bf0060;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

.cit_extra_rn_pill {
  color: #fff;
  background: #00c3aa;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 5px;
  margin-right: 4px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
}

#cit_top_menu_box {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  overflow: visible;
  background-color: #fafbfc;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  z-index: 999;
}
#cit_top_menu_box #cit_top_menu {
  width: 100%;
  height: 100%;
}
#cit_top_menu_box #cit_top_menu #velprom_logo_box {
  height: 70%;
  width: auto;
  margin-left: 80px;
  overflow: hidden;
}
#cit_top_menu_box #cit_top_menu #velprom_logo_box img {
  width: auto;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #cit_top_menu #velprom_logo_box {
    width: 40px;
    margin-left: 40px;
  }
}
#cit_top_menu_box #cit_top_menu .menu_controls {
  position: relative;
  height: 100%;
}
#cit_top_menu_box #cit_top_menu .menu_controls .menu_btn {
  cursor: pointer;
  transition: all 0.2s;
  top: 50%;
  transform: translateY(-50%) scale(1);
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
  cursor: pointer;
}
#cit_top_menu_box #cit_top_menu .menu_controls .menu_btn i {
  font-size: 23px;
}
#cit_top_menu_box #cit_top_menu .menu_controls .menu_btn.cit_hide {
  height: 0;
  transform: translateY(-50%) scale(0);
}
#cit_top_menu_box #cit_top_menu #left_menu_control_box {
  float: left;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #cit_top_menu #left_menu_control_box {
    width: 110px;
  }
}
#cit_top_menu_box #cit_top_menu #left_menu_control_box .menu_btn {
  left: 0;
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #cit_top_menu #left_menu_control_box .menu_btn {
    width: 40px;
  }
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box {
  float: left;
  width: calc( 100% - 600px );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge {
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  text-decoration: none !important;
  transition: none;
  height: 85%;
  /*width: 140px;*/
  min-width: 100px;
  padding: 0 10px;
  margin: 0 5px;
  color: #fff;
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
  0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
  0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
  0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  */
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge.cit_new {
  background-image: linear-gradient(to top, #b584d4 0%, #db9ff1 100%);
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge.cit_my_tasks {
  background-image: linear-gradient(to top, #e24a4a 0%, #dc7878 100%);
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge.cit_task_from_me {
  background-image: linear-gradient(to top, #7cabd8 0%, #83cff3 100%);
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge.cit_working {
  background-image: linear-gradient(to top, #738dd0 0%, #abc1f9 100%);
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge .badge_title {
  width: 100%;
  text-align: center;
  font-size: 9px;
  line-height: 11px;
  margin: 1px 0;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge .badge_value {
  margin-top: 2px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 0.05rem;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box #cit_page_title {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box #cit_page_title h3 {
  text-align: center;
  font-weight: 700;
  color: #103253;
  margin: 0;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box_arrow {
  cursor: pointer;
  width: 150px;
  display: none;
  align-items: center;
  justify-content: center;
}
#cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box_arrow i {
  transition: transform 0.3s;
  transform: rotate(0deg);
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #cit_top_menu #center_menu_control_box {
    margin: 0;
    width: calc( 100% - 220px );
  }
  #cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
    transform-origin: 50% 0;
    transform: scale(1, 0.7);
    padding: 0;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background: #fafbfc;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.28);
  }
  #cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box .cit_badge {
    margin-bottom: 15px;
    width: 200px;
    padding: 10px;
  }
  #cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box.cit_open {
    pointer-events: all;
    opacity: 1;
    transform: scale(1, 1);
  }
  #cit_top_menu_box #cit_top_menu #center_menu_control_box #badge_box_arrow {
    display: flex;
  }
}
#cit_top_menu_box #cit_top_menu #right_menu_control_box {
  float: left;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #cit_top_menu #right_menu_control_box {
    margin: 0;
    width: 110px;
  }
}
#cit_top_menu_box #cit_top_menu #right_menu_control_box .menu_btn {
  right: 0 !important;
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #cit_top_menu #right_menu_control_box .menu_btn {
    margin: 0;
    width: 40px;
  }
}
#cit_top_menu_box #avatar_box {
  width: 270px;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  #cit_top_menu_box #avatar_box {
    overflow: hidden;
    width: 102px;
  }
}
#cit_top_menu_box #avatar_box #avatar_image_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  overflow: hidden;
  transition: all 0.6s;
  transform: rotateY(0deg);
}
#cit_top_menu_box #avatar_box #avatar_image_box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#cit_top_menu_box #avatar_box #avatar_image_box i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
  background: #e8edf8;
  color: #918ff1;
}
#cit_top_menu_box #avatar_box #avatar_image_box.cit_user {
  transform: rotateY(360deg);
}
#cit_top_menu_box #avatar_box #avatar_text_box {
  padding-left: 13px;
  width: calc(100% - 50px);
  box-sizing: border-box;
}
#cit_top_menu_box #avatar_box #avatar_text_box .avatar_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.5;
  font-size: 0.88rem;
  width: 100%;
  color: #495057;
}
#cit_top_menu_box #avatar_box #avatar_text_box .avatar_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.5;
  font-size: 0.8rem;
  width: 100%;
  color: #495057;
  opacity: 0.8;
}

#cit_left_menu_box {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 20px 10px 0;
  margin-top: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition: all 0.3s ease-out;
  transform: translateX(0);
}
#cit_left_menu_box.cit_hide {
  transform: translateX(-100%);
}

#cit_left_menu {
  width: 100%;
}

#cit_right_menu_box {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 300px;
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 20px 10px 0;
  margin-top: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  transform: translateX(0);
  transition: all 0.3s ease-out;
}
#cit_right_menu_box.cit_hide {
  transform: translateX(100%);
}
#cit_right_menu_box #cit_login_box {
  width: 100%;
  height: auto;
}

.user_form {
  width: 100%;
  height: auto;
  transition: height 0.3s ease-in;
}

#cit_avatar_up_label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 30px auto 0;
  background: #3f6ad8;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1);
}
#cit_avatar_up_label i {
  font-size: 32px;
}
#cit_avatar_up_label img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#cit_avatar_up_label:hover {
  transform: scale(1.1);
}

#upload_avatar_box {
  width: 100%;
  height: auto;
  overflow: visible;
  height: 65px;
  transition: all 0.3s;
}
#upload_avatar_box.cit_hide {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#choose_avatar_text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  overflow: visible;
  transition: all 0.3s;
  height: 20px;
}
#choose_avatar_text.cit_hide {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#user_settings_box {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  height: 60px;
  width: 100%;
  transition: all 0.3s;
}
#user_settings_box.cit_hide {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#user_settings_box .cit_user_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  font-size: 30px;
  height: 100%;
  width: 50px;
  margin: 0 10px;
  cursor: pointer;
}
#user_settings_box .cit_user_buttons:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#user_settings_box .cit_user_buttons:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
#user_settings_box .cit_user_buttons.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}

#under_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888888;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}
#under_avatar #avatar_modal_box {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 80%;
  height: 80%;
  margin-top: 30px;
  transition: all 0.5s;
  transform: scale(0.6);
  max-width: 800px;
  max-height: 800px;
}
#under_avatar #avatar_modal_box img {
  max-width: 100%;
}
#under_avatar.cit_show {
  opacity: 1;
  pointer-events: all;
}
#under_avatar.cit_show #avatar_modal_box {
  transform: scale(1);
}

#close_avatar_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  top: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

#ok_avatar_btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

#card_input_select {
  color: #fff;
  z-index: 555;
  background: #3f6ad8;
  position: fixed;
  left: -127px;
  bottom: 13px;
  width: 200px;
  height: 200px;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translate(50%, 50%);
  transition: all 0.3s ease;
  font-size: 30px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
#card_input_select:hover {
  /* transform: rotate(45deg) translate(50%, 50%) scale(1.1); */
  left: -120px;
  bottom: 18px;
  transition: all 0.1s ease;
}
#card_input_select:active {
  transition: all 0.1s ease;
  transform: rotate(45deg) translate(50%, 50%) scale(0.95);
  left: -120px;
  bottom: 18px;
}
#card_input_select.cit_hide {
  display: none;
}

html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

h6 {
  font-weight: 700;
  font-size: 1.5rem;
}

.spec_row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 5px solid #a4dafc;
  border-bottom: 5px solid #a4dafc;
}

#cit_toast_box {
  pointer-events: none;
  position: fixed;
  top: 80px;
  right: 80px;
  z-index: 555555555;
  width: 300px;
  height: auto;
}
#cit_toast_box .cit_toast {
  background: #bf0060;
  color: #fff;
  width: 100%;
  transition: all 0.3s;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 700;
}

#cit_global_progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 555555555;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cit_global_progress_bar #cit_global_precentage {
  background-color: #e84030;
  width: 0%;
  height: 100%;
  border-radius: 2px;
  transition: width 0s ease;
}
#cit_global_progress_bar.cit_show {
  opacity: 1;
}
#cit_global_progress_bar.cit_show #cit_global_precentage {
  width: 100%;
  transition: width 20s ease;
}

/* width of the entire scrollbar */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar:hover {
  width: 20px;
}

/* color of the tracking area */
::-webkit-scrollbar-track {
  background: #ededed;
}
::-webkit-scrollbar-track:hover {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background-color: #747474;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  border: 0px solid orange;
  /* creates padding around scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #27527b;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
}

@media only screen and (max-width: 450px) {
  /* width of the entire scrollbar */
  ::-webkit-scrollbar {
    width: unset;
  }
  ::-webkit-scrollbar:hover {
    width: unset;
  }

  /* color of the tracking area */
  ::-webkit-scrollbar-track {
    background: unset;
  }
  ::-webkit-scrollbar-track:hover {
    background: unset;
  }

  ::-webkit-scrollbar-thumb {
    background-color: unset;
    /* color of the scroll thumb */
    border-radius: unset;
    /* roundness of the scroll thumb */
    border: unset;
    /* creates padding around scroll thumb */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: unset;
    /* color of the scroll thumb */
    border-radius: unset;
    /* roundness of the scroll thumb */
  }
}
/* ------------------- GENERAL LAYOUT ------------------- */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #f1f4f6;
}

#cit_root {
  width: 100%;
  height: auto;
  display: flex;
  background: #edf1f3;
  box-sizing: border-box;
  min-height: 100vh;
}

#cit_main_area_box {
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0 200px 300px;
  margin-top: 80px;
  box-sizing: border-box;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
}
#cit_main_area_box #search_main_box {
  width: 100%;
  height: auto;
}
#cit_main_area_box #cont_main_box {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 450px) {
  #cit_main_area_box {
    padding: 0 !important;
    width: 100vw;
    overflow-x: hidden;
  }
}
#cit_main_area_box.cit_wide {
  padding-left: 20px;
}
@media only screen and (max-width: 450px) {
  #cit_main_area_box.cit_wide {
    padding: 0 !important;
  }
}

/* ------------------- MENU LINKS ------------------- */
.menu_cat .menu_cat_title .fal,
.menu_cat .menu_cat_title .far,
.menu_cat .menu_cat_title .fas,
.menu_cat .menu_cat_title #kalendar_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 300ms;
  position: absolute;
  transform: translate(0, -50%) rotate(0deg);
  left: 10px;
  top: 50%;
  opacity: 0.3;
}

#cont_main_box .menu_cat .menu_cat_title i:not(#kalendar_arrow) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all 300ms;
  position: relative;
  transform: none;
  left: unset;
  top: unset;
  opacity: unset;
}

.menu_cat {
  width: 100%;
}
.menu_cat .menu_cat_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 2.4rem;
  height: 2.4rem;
  padding: 0 1.5rem 0 45px;
  position: relative;
  color: #343a40;
  white-space: nowrap;
  transition: all 0.2s;
  /*margin: .1rem 0; */
  margin: 0;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.88rem;
}
.menu_cat .menu_cat_title .fa-angle-down,
.menu_cat .menu_cat_title #kalendar_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  left: unset;
  top: 50%;
  transform: translate(0, -50%) rotate(0deg);
  width: 20px;
  height: 20px;
  z-index: 5;
  font-size: 20px;
}
.menu_cat .menu_cat_title.cit_active .fa-angle-down, .menu_cat .menu_cat_title.cit_active #kalendar_arrow {
  transform: translate(0, -50%) rotate(180deg);
}
.menu_cat .menu_cat_title:hover {
  background: #e0f3ff;
}
.menu_cat .menu_cat_title:hover .fal,
.menu_cat .menu_cat_title:hover .far {
  opacity: 1;
}
.menu_cat .left_menu_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 2.4rem;
  height: 2.4rem;
  padding: 0 0 0 14px;
  position: relative;
  color: #343a40;
  white-space: nowrap;
  margin: 0.1rem 0;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-size: 0.88rem;
}
.menu_cat .left_menu_btn .fal,
.menu_cat .left_menu_btn .far {
  margin-right: 10px;
  transition: all 0.3s ease-in;
  font-size: 1rem;
  opacity: 0.3;
}
.menu_cat .left_menu_btn:hover {
  background: #e0f3ff;
}
.menu_cat .left_menu_btn:hover .fal,
.menu_cat .left_menu_btn:hover .far {
  opacity: 1;
}
.menu_cat .cat_items {
  width: 100%;
  height: auto;
  /*max-height: 800px;*/
  padding-left: 30px;
  position: relative;
}
.menu_cat .cat_items:before {
  content: " ";
  width: 3px;
  background: #e0f3ff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 18px;
  z-index: 2;
}
.menu_cat .cat_items.cit_animate {
  transition: all 0.3s ease-out;
}
.menu_cat .cit_toggle_height.cit_animate {
  transition: all 0.3s ease-out;
}

@keyframes blinkingBackground {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: red;
  }
}
.blink_bg {
  color: #fff;
  /* display: flex; */
  animation: blinkingBackground 2s infinite;
}

/* -------------------  U SLUČAJU KADA JE ACCORDION U MAIN AREA  -------------------   */
#cit_main_area_box .project_comp .cit_panel {
  float: left;
  height: auto;
  width: 100%;
}
#cit_main_area_box #kalendar_header .menu_cat .cat_items:before {
  content: " ";
  width: 3px;
  background: transparent;
  height: 100%;
  position: absolute;
  top: -3px;
  left: 6px;
  z-index: 2;
}
#cit_main_area_box .menu_cat .menu_cat_title {
  background: #27527b;
  color: #fff;
  padding-left: 14px;
}
#cit_main_area_box .menu_cat .menu_cat_title:hover {
  background: #18436c;
}
#cit_main_area_box .menu_cat .menu_cat_title .cit_input_wrapper {
  width: 400px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}
#cit_main_area_box .menu_cat .menu_cat_title .cit_input_wrapper label {
  /* color: #fff; */
  width: 40%;
  flex: 1;
  margin: 0 5px;
  text-align: right;
}
#cit_main_area_box .menu_cat .menu_cat_title .cit_input_wrapper input {
  width: 40%;
  flex: 1;
}
#cit_main_area_box .menu_cat .menu_cat_title.kalk_sample {
  width: calc(100% - 14px);
  margin-left: 14px;
  background: #4d89c1;
}
#cit_main_area_box .menu_cat .menu_cat_title.kalk_sample:hover {
  background: #5b99d3;
}
#cit_main_area_box .menu_cat .cat_items {
  /*padding-bottom: 20px;*/
  padding-left: unset;
}
#cit_main_area_box .menu_cat .cat_items:before {
  display: none;
  content: " ";
  width: 3px;
  /* background: $vel_darkest; */
  background: transparent;
  height: 100%;
  position: absolute;
  top: -3px;
  left: 6px;
  z-index: 2;
}

/* ------------------- TABOVI ------------------- */
.cit_tab_strip {
  float: left;
  width: 100%;
  display: flex;
  height: 30px;
  justify-content: flex-start;
  background: transparent;
  background: -moz-linear-gradient(top, #edf1f3 0%, #e2e2e2 100%);
  background: -webkit-linear-gradient(top, #edf1f3 0%, #e2e2e2 100%);
  /*background: linear-gradient(to bottom,  #edf1f3 0%,#e2e2e2 100%);*/
  background: linear-gradient(to bottom, rgba(237, 241, 243, 0) 10%, rgba(0, 0, 0, 0.1) 230%);
}
.cit_tab_strip .cit_tab_btn {
  user-select: none;
  width: auto;
  max-width: 300px;
  box-sizing: border-box;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
.cit_tab_strip .cit_tab_btn.cit_active, .cit_tab_strip .cit_tab_btn:hover {
  background-color: #f1f4f6;
}

.cit_tab_box {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  overflow: hidden;
}

/* ------------------- GENERAL CLASSES ------------------- */
.flex_start_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.top_cit_border {
  border-top: 5px solid #f3f3f3;
  margin: 5px 0;
}

.bottom_cit_border {
  border-bottom: 5px solid #f3f3f3;
  margin: 5px 0;
}

.cit_comp {
  float: left;
  overflow: hidden;
  height: auto;
  width: 100%;
}
.cit_comp h5 {
  font-size: 16px !important;
}

/*  ------------------------------------------ GALLERY  ------------------------------------------ */
.cit_gallery_box {
  height: 300px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.cit_gallery_box .gallery_left_arrow,
.cit_gallery_box .gallery_right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 778;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -63px;
  border-radius: 18px;
  border: 2px solid white;
  box-sizing: content-box;
  background: white;
}
.cit_gallery_box .gallery_left_arrow i,
.cit_gallery_box .gallery_right_arrow i {
  font-size: 30px;
  color: #3f6ad8;
}
.cit_gallery_box .gallery_left_arrow:hover,
.cit_gallery_box .gallery_right_arrow:hover {
  transform: scale(1.1);
}
.cit_gallery_box .gallery_left_arrow:active,
.cit_gallery_box .gallery_right_arrow:active {
  transform: scale(0.95);
}
.cit_gallery_box .gallery_left_arrow {
  left: calc( 50% - 150px);
}
.cit_gallery_box .gallery_right_arrow {
  right: calc( 50% - 150px);
}
.cit_gallery_box .cit_gallery_parent {
  z-index: 777;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: all 0.2s ease;
}
.cit_gallery_box .cit_gallery_parent img {
  cursor: pointer;
}

#image_bckg_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10001;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#image_bckg_layer .gallery_left_arrow,
#image_bckg_layer .gallery_right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 778;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  border-radius: 18px;
  border: 2px solid white;
  box-sizing: content-box;
  background: white;
}
#image_bckg_layer .gallery_left_arrow i,
#image_bckg_layer .gallery_right_arrow i {
  font-size: 30px;
  color: #3f6ad8;
}
#image_bckg_layer .gallery_left_arrow:hover,
#image_bckg_layer .gallery_right_arrow:hover {
  transform: scale(1.1);
}
#image_bckg_layer .gallery_left_arrow:active,
#image_bckg_layer .gallery_right_arrow:active {
  transform: scale(0.95);
}
#image_bckg_layer .gallery_left_arrow {
  left: calc( 50% - 150px);
}
#image_bckg_layer .gallery_right_arrow {
  right: calc( 50% - 150px);
}
#image_bckg_layer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*# sourceMappingURL=all_styles.css.map */
