@import "./vars";
@import "./mixins";

@import "./autocomplete_component";
@import "./cards";
@import "./buttons";
@import "./grafs";
@import "./inputs";
@import "./image_popup";
@import "./item_status";

@import "../preload_modules/site_popup_modal/site_popup_modal";
@import "../preload_modules/cit_layout_module";
@import "../preload_modules/top_menu/cit_top_menu";
@import "../preload_modules/left_menu/cit_left_menu";
@import "../preload_modules/right_menu/cit_right_menu";
@import "../preload_modules/user_login/cit_user_login_module";


html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}


h6 {
  font-weight: 700;
  font-size: 1.5rem;
}




.spec_row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 5px solid #a4dafc;
  border-bottom: 5px solid #a4dafc;
}

#cit_toast_box {
  pointer-events: none;
  position: fixed;
  top: 80px;
  right: 80px;
  z-index: 555555555;
  width: 300px;
  height: auto;
  
  .cit_toast {
    background: #bf0060;
    color: #fff;
    width: 100%;
    transition: all 0.3s;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 700;
  }
  
}

#cit_global_progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 555555555;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #cit_global_precentage {
    background-color: #e84030;
    width: 0%;
    height: 100%;
    border-radius: 2px;
    transition: width 0s ease;
  }
  
  
  
  &.cit_show {
    opacity: 1;
    #cit_global_precentage {
      width: 100%;
      transition: width 20s ease;
    }
  }
  
}



/* width of the entire scrollbar */
::-webkit-scrollbar {
  width: 16px;
  &:hover {
    width: 20px;
  }
}

/* color of the tracking area */
::-webkit-scrollbar-track {
  background: #ededed;
  &:hover {
    background: #ededed;
  }
}


::-webkit-scrollbar-thumb {
  background-color: #747474;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 0px solid orange;  /* creates padding around scroll thumb */
  
  &:hover {
    background-color: #27527b;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
  }
}



@media only screen and (max-width : 450px) {



  /* width of the entire scrollbar */
  ::-webkit-scrollbar {
    width: unset;
    &:hover {
      width: unset;
    }
  }  


  /* color of the tracking area */
  ::-webkit-scrollbar-track {
    background: unset;
    &:hover {
      background: unset;
    }
  }


  ::-webkit-scrollbar-thumb {
    background-color: unset;    /* color of the scroll thumb */
    border-radius: unset;       /* roundness of the scroll thumb */
    border: unset;  /* creates padding around scroll thumb */

    &:hover {
      background-color: unset;    /* color of the scroll thumb */
      border-radius: unset;       /* roundness of the scroll thumb */
    }
  }    

}






/* ------------------- GENERAL LAYOUT ------------------- */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: rgb(241, 244, 246);
}


#cit_root {
  width: 100%;
  height: auto;
  display: flex;
  background: #edf1f3;
  box-sizing: border-box;
  min-height: 100vh;
}


#cit_main_area_box {
  width: 100%;
  
  height: auto;
  
  overflow-x: auto;
  overflow-y: hidden;
  
  padding: 0 0 200px 300px;
  margin-top: 80px;
  
  box-sizing: border-box;
  
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  transition: all 0.3s ease-out;
  
  display: flex;
  flex-direction: column;
  
       
  #search_main_box {
    width: 100%;
    height: auto;
  }
  #cont_main_box {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width : 450px) {
    padding: 0 !important;
    width: 100vw;
    overflow-x: hidden;
  }  
  
  &.cit_wide {
    padding-left: 20px;
    
    @media only screen and (max-width : 450px) {
      padding: 0 !important;
    }
    
  }
}


/* ------------------- MENU LINKS ------------------- */


.menu_cat .menu_cat_title .fal,
.menu_cat .menu_cat_title .far,
.menu_cat .menu_cat_title .fas,
.menu_cat .menu_cat_title #kalendar_arrow {
  @include flex_center;
  font-size: 1.2rem;
  transition: all 300ms;
  position: absolute;
  transform: translate(0, -50%) rotate(0deg);
  left: 10px;
  top: 50%;
  opacity: 0.3;
  
}

#cont_main_box .menu_cat .menu_cat_title i:not(#kalendar_arrow) {
  @include flex_center;
  font-size: 16px;
  transition: all 300ms;
  position: relative;
  transform: none;
  left: unset;
  top: unset;
  opacity: unset;
  
}

.menu_cat {
  width: 100%;
  
  .menu_cat_title {
    @include flex_start;
    
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    /*margin: .1rem 0; */
    margin: 0;
    
    border: none;
    border-radius: .25rem;
    width: 100%;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: .88rem;
    
    .fa-angle-down,
    #kalendar_arrow {
      
      @include flex_center;
      
      position: absolute;
      right: 10px;
      left: unset;
      top: 50%;
      transform: translate(0, -50%) rotate(0deg);
      width: 20px;
      height: 20px;
      z-index: 5;
      font-size: 20px;
      
    }
    
    &.cit_active .fa-angle-down,
    &.cit_active #kalendar_arrow {
      transform: translate(0, -50%) rotate(180deg);
    }
    
    &:hover {
      background: #e0f3ff;
      .fal,
      .far {
        opacity: 1;
      }
    }
    
    
  }

  
  .left_menu_btn {
    
    @include flex_start;
    
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 0 0 14px;
    position: relative;
    color: #343a40;
    white-space: nowrap;
    margin: .1rem 0;
    
    cursor: pointer;
    border-radius: .25rem;
    border: none;

    width: 100%;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in;
    font-size: .88rem;
    
    .fal,
    .far {
      margin-right: 10px;
      transition: all 0.3s ease-in;
      font-size: 1rem;
      opacity: 0.3;
    }
    
    &:hover {
      background: #e0f3ff;
      .fal,
      .far {
        opacity: 1;
      }
    }
    
  }
  
  .cat_items {
    width: 100%;
    height: auto;
    /*max-height: 800px;*/
    padding-left: 30px;
    position: relative;
    
    &:before {
      content: " ";
      width: 3px;
      background: #e0f3ff;
      height: 100%;
      position: absolute;
      top: 0;
      left: 18px;
      z-index: 2;
    }
    
  }
  
  .cat_items.cit_animate {
    transition: all 0.3s ease-out;
  }
  
  .cit_toggle_height.cit_animate {
    transition: all 0.3s ease-out;
  }
  
}



@keyframes blinkingBackground {
  0%    { background-color: #fff; }
  100%  { background-color: red; }
}

.blink_bg {
  color: #fff;
  /* display: flex; */
  animation: blinkingBackground 2s infinite;
}



/* -------------------  U SLUČAJU KADA JE ACCORDION U MAIN AREA  -------------------   */
#cit_main_area_box {
  
  .project_comp .cit_panel {
    float: left;
    height: auto;
    width: 100%;
  }
  
  
  #kalendar_header .menu_cat {
    
    .cat_items:before {
      content: " ";
      width: 3px;
      background: transparent;
      height: 100%;
      position: absolute;
      top: -3px;
      left: 6px;
      z-index: 2;
    }
    
  }
  
  .menu_cat {
    
    .menu_cat_title {
      background: #27527b;
      color: #fff;
      padding-left: 14px;
      
      &:hover {
        background: #18436c;
      }
      
      .cit_input_wrapper {
        width: 400px;
        height: 100%;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        margin-right: 40px;
        
        
        label {
          /* color: #fff; */
          width: 40%;
          flex: 1;
          margin: 0 5px;
          text-align: right;
        }
        
        input {
          width: 40%;
          flex: 1;
        }
        
      }
      
      &.kalk_sample {
        width: calc(100% - 14px);
        margin-left: 14px;
        background: #4d89c1;
        
        &:hover {
          background: #5b99d3;
        }
        
      }
      
    }
    
    .cat_items {
      /*padding-bottom: 20px;*/
      padding-left: unset;
    }
    
    .cat_items:before {
      
      display: none;
      
      content: " ";
      width: 3px;
      /* background: $vel_darkest; */
      background: transparent;
      height: 100%;
      position: absolute;
      top: -3px;
      left: 6px;
      z-index: 2;
    }
    

    
  }
}


/* ------------------- TABOVI ------------------- */

.cit_tab_strip {
  float: left;
  width: 100%;
  display: flex;
  height: 30px;
  justify-content: flex-start;
  background: transparent;
  background: -moz-linear-gradient(top,  #edf1f3 0%, #e2e2e2 100%);
  background: -webkit-linear-gradient(top,  #edf1f3 0%,#e2e2e2 100%);
  /*background: linear-gradient(to bottom,  #edf1f3 0%,#e2e2e2 100%);*/
  background: linear-gradient(to bottom, rgb(237 241 243 / 0%) 10%, rgb(0 0 0 / 10%) 230%);


  
  .cit_tab_btn {
    user-select: none;
    width: auto;
    max-width: 300px;
    box-sizing: border-box;
    padding: 0 20px;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    
    &.cit_active,
    &:hover {
      background-color: #f1f4f6;
    }
    
  }
}


.cit_tab_box {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  box-shadow: 
    0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 
    0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  overflow: hidden;
  
}


/* ------------------- GENERAL CLASSES ------------------- */

.flex_start_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.top_cit_border {
  border-top: 5px solid #f3f3f3;
  margin: 5px 0;  
}

.bottom_cit_border {
  border-bottom: 5px solid #f3f3f3;
  margin: 5px 0; 
}

.cit_comp {
  float: left;
  overflow: hidden;
  height: auto;
  width: 100%;
  h5 {
    font-size: 16px !important;
  }
}

/*  ------------------------------------------ GALLERY  ------------------------------------------ */

.cit_gallery_box {
  height: 300px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  .gallery_left_arrow,
  .gallery_right_arrow {
    
    @include flex_center;
    cursor: pointer;
    
    z-index: 778;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -63px;
    border-radius: 18px;
    border: 2px solid white;
    box-sizing: content-box;
    background: white;
    
    i {
      font-size: 30px;
      color: #3f6ad8;
    }
    
    &:hover {
      transform: scale(1.1);
    }
    
    &:active {
      transform: scale(0.95);
    }
    
    
  }
  
  .gallery_left_arrow {
    left: calc( 50% - 150px);
  }
  .gallery_right_arrow {
    right: calc( 50% - 150px);
  }
  
  
  .cit_gallery_parent {
    z-index: 777;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: all 0.2s ease;
    img {
      cursor: pointer;
    }
      
  }
  
}

#image_bckg_layer {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10001;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  .gallery_left_arrow,
  .gallery_right_arrow {
    
    @include flex_center;
    cursor: pointer;
    
    z-index: 778;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    border-radius: 18px;
    border: 2px solid white;
    box-sizing: content-box;
    background: white;
    
    i {
      font-size: 30px;
      color: #3f6ad8;
    }
    
    &:hover {
      transform: scale(1.1);
    }
    
    &:active {
      transform: scale(0.95);
    }
    
    
  }
    
  
  .gallery_left_arrow {
    left: calc( 50% - 150px);
  }
  .gallery_right_arrow {
    right: calc( 50% - 150px);
  }
  
  
  
  img {
    
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  
}



