/* ----START------- !!! BOOTSTRAP GRID MEDIA QUERIES !!! ----------- */

@media only screen and (max-width : 1400px) {
  /* Styles */
}

@media only screen and (max-width : 1200px) {
  /* Styles */
}

@media only screen and (max-width : 992px) {
  /* Styles */
}

@media only screen and (max-width : 768px) {
  /* Styles */
}

@media only screen and (max-width : 576px) {
  /* Styles */
}


@media only screen and (max-width : 450px) {
  
  body {
    overflow-x: hidden;
  }
  
}
/* ----END------- !!! BOOTSTRAP GRID MEDIA QUERIES !!! ----------- */




/* Smartphones (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones land ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones port ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
  /* Styles */
}

/**********
iPad 3
**********/
@media only screen 
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) 
  and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) 
  and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* turbo small mobiles land ----------- */
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) 
  and (orientation : landscape) 
  and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* turbo small mobiles port ----------- */
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) 
  and (orientation : portrait) 
  and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* small mobiles land ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 568px) 
  and (orientation : landscape) 
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* small mobiles port ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 568px) 
  and (orientation : portrait) 
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8  land----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-height: 667px) 
  and (orientation : landscape) 
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8  port----------- */
@media only screen 
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ land ----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-height: 736px)
  and (orientation : landscape) 
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ port ----------- */
@media only screen 
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X land ----------- */
@media only screen 
  and (min-device-width: 375px)
  and (max-device-height: 812px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone X port ----------- */
@media only screen 
  and (min-device-width: 375px)
  and (max-device-height: 812px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR land ----------- */
@media only screen 
  and (min-device-width: 414px)
  and (max-device-height: 896px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR port ----------- */
@media only screen 
  and (min-device-width: 414px)
  and (max-device-height: 896px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 land ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (orientation : landscape) 
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S3 port ----------- */
@media only screen 
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 land ----------- */
@media only screen 
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S4 port ----------- */
@media only screen 
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 land ----------- */
@media only screen 
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
/* Samsung Galaxy S5 port  ----------- */
@media only screen 
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
