/* ------------------- MIXINS ------------------- */
.btn_delete_item,
.btn_delete_element,
.btn_delete_plate,
.btn_item_history {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  margin: 0;
  font-size: 16px;
  background-color: #bf0060;
}
.btn_delete_item:hover,
.btn_delete_element:hover,
.btn_delete_plate:hover,
.btn_item_history:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.btn_delete_item:active,
.btn_delete_element:active,
.btn_delete_plate:active,
.btn_item_history:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.btn_delete_item.cit_disable,
.btn_delete_element.cit_disable,
.btn_delete_plate.cit_disable,
.btn_item_history.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.btn_delete_item .fal,
.btn_delete_element .fal,
.btn_delete_plate .fal,
.btn_item_history .fal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 300ms;
  position: relative;
  opacity: 1;
  left: unset;
  transform: unset;
  top: unset;
}

.btn_delete_item,
.btn_delete_element {
  margin-left: 30px;
}

.btn_item_history {
  color: #333;
  background-color: #fff;
  margin-left: 30px;
}

.product_shortcut {
  position: fixed;
  transform: scale(1);
  transform-origin: 0 50%;
  z-index: 999;
  width: 16px;
  height: 30px;
  font-size: 11px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27527b;
  border-radius: 4px;
  left: 1px;
  top: 0;
  font-weight: 700;
  cursor: pointer;
}
.product_shortcut:hover {
  transform: scale(1.2);
}

#products_compres i,
#products_expand i {
  transform: translateX(0px) rotate(-45deg);
  font-size: 16px;
}

.scroll_to_product_btn.cit_active {
  background: #df5a5a;
}

.project_find_mode_title {
  text-align: center;
  width: 100%;
  margin: 10px 0px 5px;
  font-size: 18px;
  font-weight: 700;
}

#save_proj_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 47px;
  top: 6px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
  width: 230px;
}

/*# sourceMappingURL=project_module.css.map */
