@import "../../css/vars";
@import "../../css/mixins";

.btn_delete_item,
.btn_delete_element,
.btn_delete_plate,
.btn_item_history {

  @include flex_center;

  @include btn_tran;

  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  margin: 0;
  font-size: 16px;
  background-color: #bf0060;
  
  .fal {
    @include flex_center;
    
    font-size: 1.2rem;
    transition: all 300ms;
    position: relative;
    opacity: 1;
    left: unset;
    transform: unset;
    top: unset;
    
  }

}

.btn_delete_item,
.btn_delete_element {
  margin-left: 30px;
}

.btn_item_history {
  color: #333;
  background-color: #fff;
  margin-left: 30px;
}

.product_shortcut {
  
  position: fixed;
  transform: scale(1);
  transform-origin: 0 50%;
  z-index: 999;
  width: 16px;
  height: 30px;
  font-size: 11px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27527b;
  border-radius: 4px;
  left: 1px;
  top: 0;
  font-weight: 700;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.2);
  }
  
}

#products_compres,
#products_expand {
  i {
    transform: translateX(0px) rotate(-45deg);
    font-size: 16px;
  }
}

.scroll_to_product_btn {
  &.cit_active {
    background: #df5a5a;
  }
}


.project_find_mode_title {
  
  text-align: center;
  width: 100%;
  margin: 10px 0px 5px;
  font-size: 18px;
  font-weight: 700;
  
}

#save_proj_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 47px;
  top: 6px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
  width: 230px;
}

