.vel_users {
  color: red;
}

.cit_pill {
  
  padding: 0 5px;
  background: #bf0060;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 10px;

}

#vel_users_pass_box,
#vel_users_pass_2_box {
  position: relative;
}

#vel_users_pass_box .fa-eye,
#vel_users_pass_2_box .fa-eye,
#vel_users_pass_box .fa-eye-slash,
#vel_users_pass_2_box .fa-eye-slash {
  position: absolute;
  z-index: 55;
  top: 25px;
  right: 18px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  
}

#vel_users_pass_box .fa-eye-slash,
#vel_users_pass_2_box .fa-eye-slash {
  display: none;
  
}

#all_users_list_box .scrollbar-macosx {
  max-height: 1000px !important;
}


