.user_form {
  width: 100%;
  height: auto;
  transition: height 0.3s ease-in;  
}

#cit_avatar_up_label {
  @include flex_center;
  
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 30px auto 0;
  
  background: $vel_blue;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1);
  
  i {
    font-size: 32px;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  &:hover {
    transform: scale(1.1);
  }
  
}


#upload_avatar_box {
  width: 100%;
  height: auto;
  overflow: visible;
  height: 65px;
  transition: all 0.3s;
  
  &.cit_hide {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}


#choose_avatar_text {
  
  @include flex_center;
  
  text-align: center;
  padding: 0; 
  margin-bottom: 20px;
  overflow: visible;
  transition: all 0.3s;
  height: 20px;
  
  &.cit_hide {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}

#user_settings_box {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  height: 60px;
  width: 100%;
  transition: all 0.3s;
  
  &.cit_hide {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  
  .cit_user_buttons {
    
    @include flex_center;
    @include btn_tran;
    
    font-size: 30px;
    height: 100%;
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
    
  }
}



#under_avatar {
  @include flex_center;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888888;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
  
  #avatar_modal_box {
    @include  vel_radius;
    @include flex_center;
    
    background: #fff;
    width: 80%;
    height: 80%;
    margin-top: 30px;
    transition: all 0.5s;
    transform: scale(0.6);
    
    max-width: 800px;
    max-height: 800px;

    img {
      max-width: 100%;
    }
    
  }
  
  &.cit_show {
    opacity: 1;
    pointer-events: all;
    
    #avatar_modal_box {
      transform: scale(1);
    }
  }
  
}


#close_avatar_modal {
  @include flex_center;
  @include pos_abs_top_center;
  top: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}


#ok_avatar_btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

#card_input_select {
  
  color: #fff;
  z-index: 555;
  background: #3f6ad8;
  position: fixed;
  left: -127px;
  bottom: 13px;
  width: 200px;
  height: 200px;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translate(50%, 50%);
  transition: all 0.3s ease;
  font-size: 30px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  
  &:hover {
    /* transform: rotate(45deg) translate(50%, 50%) scale(1.1); */
    left: -120px;
    bottom: 18px;
    transition: all 0.1s ease;
    
  }
  
  &:active {
    transition: all 0.1s ease;
    transform: rotate(45deg) translate(50%, 50%) scale(0.95);
    left: -120px;
    bottom: 18px;
    
  }
  
  &.cit_hide {
    display: none;
  }
  
}
