/* ------------------- MIXINS ------------------- */
.kalk_box {
  padding-top: 8px;
  background: #d6eaf7;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: hidden;
  /*padding-bottom: 10px;*/
  width: 100%;
  height: auto;
}
.kalk_box .kalk_arrow {
  float: left;
  width: 30px;
  display: flex;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}
.kalk_box .fixed_price_box {
  margin-left: 0;
  margin-right: 30px;
  float: right;
}
.kalk_box .fixed_price_box .cit_check_box_wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.kalk_box .show_in_offer_box {
  pointer-events: all !important;
  margin-left: 0;
  margin-right: 0;
  float: right;
}
.kalk_box .show_in_offer_box .cit_check_box_wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.kalk_box .kalk_naslov {
  margin: 0;
  /*width: calc(100% - 300px);*/
  width: 65%;
  font-weight: 700;
}
.kalk_box .title_circle {
  background: black;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0 3px;
  display: inline-block;
  position: relative;
  top: -1px;
  opacity: 0.2;
}
.kalk_box .title_komentar {
  font-weight: 700;
  font-size: 13px !important;
  line-height: 18px;
  margin: 0;
  margin-left: 30px;
  letter-spacing: 0.03rem;
}
.kalk_box.cit_closed {
  height: 48px;
  overflow: hidden;
}
.kalk_box.cit_closed .kalk_arrow {
  transform: rotate(0deg);
}

.proces_row {
  position: relative;
  padding-bottom: 12px;
  margin: 0;
  /* padding: 0; */
  min-width: 2500px;
  border-top: 3px solid #27527b;
  margin-top: 10px;
}
.proces_row .extra_data_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proces_row .extra_data_box .extra_data_pill {
  background: #27527b;
  padding: 3px 14px;
  border-radius: 20px;
  margin: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: 0.08rem;
}
.proces_row .extra_data_box .extra_data_pill .delete_extra_pill {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  float: right;
  margin: 0px -5px 0 10px;
  font-size: 16px;
  top: 1px;
  position: relative;
}
.proces_row .extra_data_box .extra_data_pill .delete_extra_pill:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.proces_row .extra_data_box .extra_data_pill .delete_extra_pill:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.proces_row .extra_data_box .extra_data_pill .delete_extra_pill.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.proces_row .proc_koment_box {
  padding: 0 0 3px;
}
.proces_row .proc_koment_box label {
  padding: 0;
  margin: 0;
  text-align: center;
}
.proces_row .delete_proces_row {
  position: absolute;
  top: -12px;
  z-index: 555;
  right: -1px;
}
.proces_row .proces_order_number {
  min-width: 31px;
  width: auto;
  padding: 0 5px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  background: #27527b;
  top: -11px;
  z-index: 555;
  left: -3px;
  border-radius: 3px;
  font-weight: 700;
}
.proces_row .ulazi_headers > div,
.proces_row .action_headers > div,
.proces_row .izlazi_headers > div {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  text-align: center !important;
}
.proces_row .kalk_ulaz_box,
.proces_row .kalk_action_box,
.proces_row .kalk_izlaz_box {
  margin: 0;
  padding: 0;
  /*
  .row {

    margin: 0;
    padding: 0;
    margin-top: 2px;

    > div {
      padding: 0;
      align-items: center;
      display: flex;
    }

  }

  */
}
.proces_row .kalk_ulaz_box .cit_label,
.proces_row .kalk_action_box .cit_label,
.proces_row .kalk_izlaz_box .cit_label {
  display: none;
}
.proces_row input {
  padding: 2px;
  border: none;
  font-size: 13px;
  color: #000;
  margin: 2px;
  border-radius: 0;
  height: 100%;
  width: 100%;
}
.proces_row .kalk_btn,
.proces_row .kalk_btn_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  border: none;
}
.proces_row .kalk_btn:hover,
.proces_row .kalk_btn_circle:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.proces_row .kalk_btn:active,
.proces_row .kalk_btn_circle:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.proces_row .kalk_btn.cit_disable,
.proces_row .kalk_btn_circle.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.proces_row .kalk_btn i,
.proces_row .kalk_btn_circle i {
  left: unset !important;
  top: unset !important;
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
  font-size: inherit !important;
}
.proces_row .kalk_btn_circle {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new_offer_container {
  /*
  display: flex;

  .cit_label {
    width: 200px;
  }
  */
}

.ulazi_headers,
.ulaz_row,
.action_headers,
.action_row,
.izlazi_headers,
.izlaz_row {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}
.ulazi_headers .kalk_cell,
.ulaz_row .kalk_cell,
.action_headers .kalk_cell,
.action_row .kalk_cell,
.izlazi_headers .kalk_cell,
.izlaz_row .kalk_cell {
  padding: 0;
  align-items: center;
  display: flex;
}
.ulazi_headers.cit_error,
.ulaz_row.cit_error,
.action_headers.cit_error,
.action_row.cit_error,
.izlazi_headers.cit_error,
.izlaz_row.cit_error {
  background: red;
  padding: 2px;
}

.ulaz_row.cit_deficit {
  background: red;
  padding-top: 4px;
  padding-bottom: 4px;
}

.pill_reserv,
.pill_sample,
.pill_for_pro {
  padding: 0 15px;
  border-radius: 20px;
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-right: 8px;
  margin-top: 9px;
  letter-spacing: 0.08rem;
  float: right;
  display: flex;
  align-items: center;
  line-height: 7px;
  height: 22px;
}

.pill_reserv {
  background: #3f6ad8;
}

.pill_sample {
  background: #27527b;
}

.pill_for_pro {
  background: #27a700;
}

/*
.offer_kalk_container,
.pro_kalk_container,
.post_kalk_container {
  position: relative;
}
*/
.scroll_kalk_arrow {
  position: absolute;
  z-index: 555;
  width: 14px;
  height: 100%;
  display: flex;
  top: 10px;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #27527b;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
}
.scroll_kalk_arrow:hover {
  background: rgba(39, 82, 123, 0.27);
}
.scroll_kalk_arrow.cit_left {
  left: 0;
}
.scroll_kalk_arrow.cit_right {
  right: 0;
}

.up_down_kalk_scroll_box {
  position: absolute;
  bottom: -27px;
  left: 50%;
  z-index: 333;
  width: 90px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
.up_down_kalk_scroll_box .scroll_kalk_up {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 5px;
  background-color: #27527b;
  color: #fff;
  border-radius: 12px;
  font-size: 20px;
}
.up_down_kalk_scroll_box .scroll_kalk_down {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 5px;
  background-color: #27527b;
  color: #fff;
  border-radius: 12px;
  font-size: 20px;
}

.kalk_arrow_container {
  width: 0;
  /*height: 100%;*/
  position: relative;
  margin: 0;
  max-width: 0;
}

.center_scroll_box {
  width: calc(100% - 0px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.63);
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.center_scroll_box::-webkit-scrollbar {
  display: none;
}

.proces_scroll_box {
  background-color: transparent;
  box-shadow: inset 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.1), inset 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.08), inset 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), inset 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  max-height: 800px;
  min-height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 -15px;
  /* width: calc(100% + 30px); */
  /* width: calc(100% + 50px); */
  padding: 0;
  display: flex;
  align-items: stretch;
}

.save_kalk_btn.cit_fixed {
  position: fixed;
  right: 40px;
  top: 97px;
  z-index: 998;
  transition: all 0.1s ease-in;
}

/*# sourceMappingURL=kalk_module.css.map */
