.search_result_column.komentar {
  flex-direction: column;
}



#prodon_file_list_box {
  margin-top: 5px;
  margin-bottom: 5px;
  
  .docs_date,
  a {
    font-size: 30px;
  }
  
}

#prodon_check_boxes {
  
  label {
    margin: 20px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    
  }
  
  .cit_check_box {
    margin: 30px auto 20px;
    transform: scale(2);
  }
  
}


.prodon_work_desc_box {
  label {
    
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
}


#prodon_ulaz_title_row {
  margin-top: 0; 
  margin-bottom: 0;
  h4 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    margin-bottom: -20px;
  }
}


#prodon_izlaz_title_row {
  margin-top: 30px; 
  margin-bottom: 0;
  h4 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    margin-bottom: -20px;
  }
}


.prodon_input_box {
  
  .cit_text_area {
    min-height: 100px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.06rem;
  }
  .cit_input {
    font-size: 23px;
    height: 52px;
    text-align: center !important;
    font-weight: 500;
  }
  
  .production_btn {
    margin-top: 20px;
    width: 70%;
  }
  
}


.prodon_perc_box {
  width: 100%;
  height: 50px;
  background: #df6363;
  border-radius: 6px;
  overflow: hidden;
  
  .prodon_perc_val {
    height: 100%;
    background: #28527b;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    float: left;
  }
  
}



.perc_inside_list {
  
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  
  .prodon_perc_box {
    width: 100%;
    height: 20px;
    background: #df6363;
    border-radius: 0;
    overflow: hidden;

    .prodon_perc_val {
      height: 100%;
      background: #28527b;
      overflow: hidden;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      letter-spacing: 0.1rem;
      font-weight: 700;
      float: left;
    }
  
  }
  
  .prodon_perc_ratio {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  
}


.cit_result_table.statuses_box {
  > .search_result_row.header {
    pointer-events: none;
    border-top: 1px solid #ccc;
  }
  
  .prio_input label {
    display: none;
  }
  
  .scrollbar-macosx {
    max-height: 800px;
  }
  
}

.prodon_link_to_sirov {
  
  box-shadow: none;
  margin: 0;
  width: 33px;
  height: 33px;
  float: right;
  position: absolute;
  right: 0;
  top: 30px;
  transform: scale(1.5);
  
  &:hover {
    transform: scale(1.7);
  }
  
  &:active {
    transform: scale(1.4);
  }
  
  
}


#filter_statusa_arrow {
  float: left;
  width: 30px;
  display: flex;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(0deg);
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}



.filter_status_search_body {
  
  
  height: auto;
  &.cit_closed {
    height: 30px;
  }
}