/* ------------------- MIXINS ------------------- */
.podni {
  color: #fff;
}

.title_bar {
  height: 30px;
  background: #024b6c;
  color: #fff;
  display: flex;
  border-radius: 3px;
}
.title_bar > div {
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.delete_elem_plate,
.delete_elem_press,
.delete_elem_alat {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  border: none;
}
.delete_elem_plate:hover,
.delete_elem_press:hover,
.delete_elem_alat:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.delete_elem_plate:active,
.delete_elem_press:active,
.delete_elem_alat:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.delete_elem_plate.cit_disable,
.delete_elem_press.cit_disable,
.delete_elem_alat.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.delete_elem_plate i,
.delete_elem_press i,
.delete_elem_alat i {
  left: unset !important;
  top: unset !important;
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
  font-size: inherit !important;
}

.elem_list_box .search_result_row.header {
  pointer-events: none !important;
}

.save_product_btn.cit_fixed {
  position: fixed;
  top: 120px;
  right: -12px;
  z-index: 998;
  transition: all 0.1s ease-in;
}

.product_for_pro_title .title_tip {
  display: none;
}
.product_for_pro_title .title_circle {
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0 3px;
  display: inline-block;
  position: relative;
  top: -1px;
  opacity: 0.5;
}

/*# sourceMappingURL=product_module.css.map */
