@import "../../css/vars";
@import "../../css/mixins";


.podni {
  color: #fff;
}


.title_bar {

  height: 30px;
  background: #024b6c;
  color: #fff;
  display: flex;
  border-radius: 3px;

  > div {
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

}

.delete_elem_plate,
.delete_elem_press,
.delete_elem_alat {

  @include flex_center;

  @include btn_tran;

  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  border: none;

  i {
    left: unset !important;
    top: unset !important;
    position: relative !important;
    transform: none !important;
    opacity: 1 !important;
    font-size: inherit !important;
  }

}

.elem_list_box .search_result_row.header {
  pointer-events: none !important;
}


.save_product_btn.cit_fixed {
  position: fixed;
  top: 120px;
  right: -12px;
  z-index: 998;
  transition: all 0.1s ease-in;
}

.product_for_pro_title {
  
  .title_tip {
    display: none;
  }
  
  .title_circle {
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 0 3px;
    display: inline-block;
    position: relative;
    top: -1px;
    opacity: 0.5;
  }
  
}



