/* ------------------- MIXINS ------------------- */
#cit_preview_modal {
  opacity: 0;
  pointer-events: none;
  background-color: #434645;
  transform: scale(0.8);
  transition: all 0.2s ease-in;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
#cit_preview_modal #generate_docs_buttons_box {
  top: 80px;
  right: 25px;
  position: fixed;
  width: 50px;
  padding-bottom: 10px;
}
#cit_preview_modal #generate_docs_buttons_box .preview_buttons {
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 25px auto 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.7);
  z-index: 555555;
  font-size: 18px;
  font-weight: 700;
}
#cit_preview_modal #generate_docs_buttons_box .preview_buttons:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#cit_preview_modal #generate_docs_buttons_box .preview_buttons:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
#cit_preview_modal #generate_docs_buttons_box .preview_buttons.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
#cit_preview_modal #printContainerIFRAME {
  position: absolute;
  z-index: 999;
  width: 216mm;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  top: 70px;
  left: 50%;
  margin-left: -108mm;
  background-color: #fff;
  padding: 10mm;
  box-sizing: border-box;
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}
#cit_preview_modal #printContainerIFRAME.cit_landscape {
  width: 313mm;
  margin-left: -148mm;
}
#cit_preview_modal #printContainerIFRAME #printiFrame {
  border: 0px solid transparent;
  width: 100%;
  margin: 0;
  padding: 0;
}
#cit_preview_modal.cit_show {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=cit_previews.css.map */
