@import "../../css/vars";
@import "../../css/mixins";

#cit_preview_modal {

  opacity: 0;
  pointer-events: none;
  background-color: #434645;
  transform: scale(0.8);
  transition: all 0.2s ease-in;
  
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  
  #generate_docs_buttons_box {
    
    top: 80px;
    right: 25px;
    position: fixed;
    width: 50px;
    padding-bottom: 10px;
    
    .preview_buttons {
      
      @include btn_rel;
      @include btn_tran;
      
      transition: none;
      
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin: 25px auto 0;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: 0px 3px 12px rgb(0 0 0 / 70%);
      z-index: 555555;
      font-size: 18px;
      font-weight: 700;
    }
  
  }

  #printContainerIFRAME {

    position: absolute;
    z-index: 999;
    width: 216mm;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 70px;
    left: 50%;
    margin-left: -108mm;
    background-color: #fff;
    padding: 10mm;
    box-sizing: border-box;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    
    &.cit_landscape {
      width: 313mm;
      margin-left: -148mm;
    }
    
    #printiFrame {
      border: 0px solid transparent;
      width: 100%;
      margin: 0;
      padding: 0;
      
    }


  }


  &.cit_show {
    transform: scale(1);
    opacity: 1;    
    pointer-events: all;
    
  }

}
