        
    <div class="vel_info_text">
     
      <div class="no_col_break video_wrapper" style="margin-top: 0;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-rywYb2zeA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->
      <h3 class="video_title">1. Skidanje modula i podmazivanje grede</h3>
      
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2vPdgIXtJms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
       <h3 class="video_title">2. Podmazivanje modula</h3>     
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kE1nBogzBzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
      <h3 class="video_title">3. Zaštita preko svjetlosenzora</h3>           


            
    </div> 
    
    <div class="vel_info_text">
     
      <div class="no_col_break video_wrapper" style="margin-top: 0;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GCwVsxt_efs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->
      <h3 class="video_title">4. Razlika između Z10 i Z11 noževa za UCT alat</h3>
      
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/04m2aDz76Os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
       <h3 class="video_title">5. Zamjena uloška čahure za UCT alat</h3>     
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xklh-U9dFbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
      <h3 class="video_title">6. Primjer novog otvorenog noža i njegova zaštita</h3>           
            
    </div>
    
    <div class="vel_info_text">
     
      <div class="no_col_break video_wrapper" style="margin-top: 0;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rICH-t3sQ3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->
      <h3 class="video_title">7. Vađenje i stavljenje noža na UCT alatu</h3>
      
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IArXvhYqixs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
       <h3 class="video_title">8. UCT alat upotreba</h3>     
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WXS8EWnhfk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
      <h3 class="video_title">9. Alat za crtanje kemijska</h3>           
            
    </div>              
    
    <div class="vel_info_text">
     
      <div class="no_col_break video_wrapper" style="margin-top: 0;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/G9f-K7IpEU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->
      <h3 class="video_title">10. Alat kiss cut rezanje folije</h3>
      
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SyQWdWZLqQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
       <h3 class="video_title">11. Alat kiss cut podešavanje i izmjena noža</h3>     
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t25cOJxZeek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
      <h3 class="video_title">12. Mehanički graničnik za kiss cut</h3>           
            
    </div>  
    
    <div class="vel_info_text">
     
      <div class="no_col_break video_wrapper" style="margin-top: 0;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qbGrQ9MbPIM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->
      <h3 class="video_title">13. Mehanički graničnik za kiss cut nastavak</h3>
      
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5G-dAzdlL1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
       <h3 class="video_title">14. Noževi za kiss cut i opcije kod rezanja</h3>     
      
      <div class="no_col_break video_wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cn3pdD2Q6Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> <!-- end no col break -->      
      <h3 class="video_title">15. V cut uvod</h3>           
            
    </div>       
          
       