/* ------------------- MIXINS ------------------- */
.columns_flex {
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .columns_flex {
    display: unset;
  }
}

.video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
.video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_link {
  font-size: 18px;
  line-height: 2;
}

.video_link.text_right {
  text-align: right;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 1200px) {
  .video_link.text_right {
    text-align: left;
  }
}

.video_link.text_left {
  text-align: left;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 1200px) {
  .video_link.text_left {
    text-align: left;
  }
}

/* ----------------------- FIND TEXT ----------------------- */
#cit_find_box {
  position: fixed;
  top: 80px;
  right: 50px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 80px;
  z-index: 777;
}
@media only screen and (max-width: 450px) {
  #cit_find_box {
    top: 60px;
    right: 0;
    width: 100vw;
    padding: 10px 30px;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
  }
}
#cit_find_box #cit_find_result_box {
  position: absolute;
  width: 85px;
  height: 100%;
  right: 54px;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  #cit_find_box #cit_find_result_box {
    right: 84px;
  }
}
#cit_find_box #cit_find_result_box #cit_find_count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  font-size: 14px;
  background: #fff;
  user-select: none;
}
#cit_find_box #cit_find_result_box #cit_find_prev,
#cit_find_box #cit_find_result_box #cit_find_next {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 28px;
  height: 26px;
  font-size: 30px;
  background: #fff;
}
#cit_find_box #cit_find_result_box #cit_find_prev:hover,
#cit_find_box #cit_find_result_box #cit_find_next:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#cit_find_box #cit_find_result_box #cit_find_prev:active,
#cit_find_box #cit_find_result_box #cit_find_next:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
#cit_find_box #cit_find_result_box #cit_find_prev.cit_disable,
#cit_find_box #cit_find_result_box #cit_find_next.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
#cit_find_box #cit_find_all {
  width: calc(100% - 50px);
}
#cit_find_box #cit_find_all_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  background: #d3eeff;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 20px;
}
#cit_find_box #cit_find_all_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#cit_find_box #cit_find_all_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
#cit_find_box #cit_find_all_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}

/* ----------------------- INFO BODY STYLE ----------------------- */
.info_body {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background: #fff;
}
@media only screen and (max-width: 450px) {
  .info_body {
    margin-top: 80px;
    overflow-x: hidden;
  }
}

.incoterms_table {
  height: 100%;
  text-align: center;
}
.incoterms_table tr {
  font-size: 100%;
  height: 100%;
}

.vel_info_page table.info_table.incoterms_table tbody td {
  height: 100%;
  font-size: 12px;
}
.vel_info_page table.info_table.incoterms_table tbody td .half_div {
  font-size: 12px;
  width: 50%;
  float: left;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vel_info_page table.info_table.incoterms_table tbody td .half_div.cit_grey {
  background: #eaeaea;
}

span.shiny {
  background-color: #e6ce12;
  font-weight: 700;
}

span.shiny.cit_focus {
  background-color: #fa9204;
  font-weight: 700;
}

.info_body ::-moz-selection {
  background: #7ce84c;
}

.info_body ::selection {
  background: #7ce84c;
}

#search_info_btn {
  width: 200px;
  height: 100px;
  background: red;
}

.vel_info_page {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.vel_info_page .vel_info_text {
  column-count: 3;
  column-gap: 40px;
  column-rule: 2px solid lightblue;
  column-fill: balance;
  float: none;
  clear: both;
  margin-bottom: 40px;
  margin-top: 5px;
  box-sizing: border-box;
}

.vel_info_page .vel_info_text.col_count_2 {
  column-count: 2;
}

.vel_info_page img {
  width: 100%;
  display: block;
  margin: 30px auto;
  padding: 20px;
  max-width: 800px;
  float: none;
  box-sizing: border-box;
}

.vel_info_page .center_col {
  width: 90%;
  max-width: 400px;
  margin: 0 auto 40px;
}

.vel_info_page .vel_info_text img {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.vel_info_page table img {
  width: 100%;
  display: block;
  margin: 0px auto;
  max-width: 600px;
  padding: 20px;
  float: none;
  box-sizing: border-box;
}

.info_body h1 {
  text-align: center;
  font-size: 36px;
  /*margin: 0 10px 0;*/
  margin: 20px 0;
  font-weight: 700;
}

.info_body h2 {
  text-align: left;
  font-size: 30px;
  /*margin: 0 10px 0;*/
  margin: 20px 0;
  font-weight: 700;
  margin-left: 10px;
}

.vel_info_page h3 {
  font-size: 26px;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  color: #27527b;
}

.vel_info_page h4 {
  font-size: 20px;
  text-align: left;
  margin-top: -10px;
  font-style: italic;
  font-weight: 600;
  color: #6b8fb5;
}

.vel_info_page h4.mini_h4 {
  font-size: 16px;
  margin-top: -20px;
}

/* ovo treba provjeriti */
.vel_info_page .vel_info_text h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  color: #27527b;
}

.vel_info_page .vel_info_text h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  color: #6b8fb5;
}

.vel_info_page .vel_info_text h4:first-of-type {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  color: #6b8fb5;
}

.vel_info_page .vel_info_text .no_col_break h4:first-of-type {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  color: #6b8fb5;
}

.vel_info_page .vel_info_text h4.video_title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.vel_info_page .vel_info_text h4.go_left {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  color: #6b8fb5;
}

.vel_info_page .vel_info_text .no_col_break {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.vel_info_page .info_column.text_right {
  margin: 30px 0;
  float: left;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
}

.vel_info_page .info_column.text_left {
  margin: 30px 0;
  float: left;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}

.flex_table {
  display: flex;
  flex-wrap: wrap;
}

.table_wrap {
  overflow-x: auto;
  height: auto;
}

.vel_info_page table.info_table {
  border: 0px solid #1C6EA4;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
  margin: 10px auto;
}

.vel_info_page table.info_table img {
  max-width: 160px;
  min-width: 140px;
  box-sizing: border-box;
}

.vel_info_page table.info_table td,
.vel_info_page table.info_table th {
  border: 1px solid #282828;
  padding: 3px 5px;
}

.vel_info_page table.info_table tbody td {
  border-left: none;
  border-right: none;
  font-size: 16px;
  color: #050505;
}

/*    
      .vel_info_page table.info_table tr:nth-child(even) {
      background: #eff9fa;
      }
      */
.vel_info_page table.info_table tfoot td {
  font-size: 14px;
}

.vel_info_page table.info_table tfoot .links {
  text-align: right;
}

.vel_info_page table.info_table tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.vel_info_page .sub_col_1 {
  width: 160px;
}

.vel_info_page .sub_table {
  border: none;
  border-collapse: collapse;
}

.vel_info_page table.info_table td .sub_table td,
.vel_info_page table.info_table td .sub_table tr {
  border: none;
}

.vel_info_page .image_float {
  float: left;
  max-width: 200px;
  min-width: 100px;
  margin: 0;
}

/* ----START------- ! ! ! BOOTSTRAP GRID MEDIA QUERIES ! ! ! ----------- */
@media only screen and (max-width: 1400px) {
  /* Styles */
}
@media only screen and (max-width: 1200px) {
  /* Styles */
}
@media only screen and (max-width: 1192px) {
  .vel_info_page {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  html,
body {
    font-size: 18px;
  }

  .vel_info_page img {
    max-width: 100%;
    box-sizing: border-box;
  }

  .vel_info_page .vel_info_text {
    column-count: 2;
    column-gap: 20px;
  }

  .vel_info_page .vel_info_text.col_count_2 {
    column-count: 1;
    column-gap: 0;
  }

  .vel_info_page .info_column {
    width: 50%;
  }
}
@media only screen and (max-width: 968px) {
  .table_wrap {
    width: 100%;
    overflow-x: auto;
  }

  .vel_info_page table.info_table {
    min-width: 500px;
  }

  .vel_info_page table.info_table.no_min {
    min-width: unset;
  }

  .vel_info_page .vel_info_text {
    column-count: 1;
    column-gap: 0;
  }
}
@media only screen and (max-width: 450px) {
  /* Styles */
}
/* ----END------- !!! BOOTSTRAP GRID MEDIA QUERIES !!! ----------- */

/*# sourceMappingURL=info.css.map */
