/* ------------------- MIXINS ------------------- */
/*
----------------------------------------
#save_partner_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 80px;
  top: 90px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
}
----------------------------------------
*/
#save_partner_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 47px;
  top: 6px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
  width: 230px;
}

.report-standard {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.report-standard tr {
  border-bottom: 1px solid #ccc;
}
.report-standard tr td {
  padding: 3px;
  vertical-align: middle;
  text-align: left;
}
.report-standard tr td .sud_reg_details_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*transition: all 0.2s;*/
  transform: scale(1);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin: 3px 6px 3px 0;
  color: #fff;
  background-color: #3f6ad8;
}
.report-standard tr td .sud_reg_details_btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.report-standard tr td .sud_reg_details_btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.report-standard tr td .sud_reg_details_btn.cit_disable {
  pointer-events: none;
  opacity: 0.3;
}
.report-standard tr td.details_btn_parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.report-standard tr td[headers=TTA_IME] {
  text-align: left;
}
.report-standard tr td[headers=ADRESA] {
  text-align: left;
}
.report-standard tr:first-of-type {
  border-bottom: 3px solid #ccc;
}
.report-standard tr:first-of-type th {
  vertical-align: middle;
  text-align: center;
}

/* -------------------------- GOOGLE MAP CSS  -------------------------- */
/* -------------------------- GOOGLE MAP CSS  -------------------------- */
/* -------------------------- GOOGLE MAP CSS  -------------------------- */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 70%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.google_title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#partner_adresa_google_map #infowindow-content {
  display: inline;
}

#partner_doc_box .search_result_column.product_links,
#partner_doc_box .search_result_column.doc_link {
  display: flex;
  flex-direction: column;
}
#partner_doc_box .search_result_column.product_links {
  padding: 0;
}
#partner_doc_box .search_result_column.product_links .cit_label {
  display: none;
}
#partner_doc_box .search_result_column.product_links > div {
  border-bottom: 1px solid #ccc;
  padding: 3px;
}
#partner_doc_box .search_result_column.product_links > div:last-child {
  border-bottom: none;
}
#partner_doc_box .search_result_column.product_links a {
  margin-bottom: 8px;
}
#partner_doc_box .search_result_column.choose_record label {
  display: none;
}
#partner_doc_box .search_result_column.choose_doc label {
  display: none;
}
#partner_doc_box .ad_acta_btn {
  margin: 0;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  padding: 0;
}
#partner_doc_box .payment_sum_box {
  display: flex;
  text-align: right;
  justify-content: end;
  font-size: 16px;
  align-items: center;
}

#order_avans_switch_box .cit_switch_wrapper,
#primka_partial_switch_box .cit_switch_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=partner_module.css.map */
