@import "../../css/vars";
@import "../../css/mixins";


/*
----------------------------------------
#save_partner_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 80px;
  top: 90px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
}
----------------------------------------
*/


#save_partner_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 47px;
  top: 6px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
  width: 230px;
}



.report-standard {

  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;



  tr {
    border-bottom: 1px solid #ccc;

    td {
      padding: 3px;
      vertical-align: middle;
      text-align: left;

      .sud_reg_details_btn {

        @include flex_center;
        @include btn_tran;

        width: 24px;
        height: 24px;
        border-radius: 4px;
        margin: 3px 6px 3px 0;
        color: #fff;
        background-color: #3f6ad8
      }

    }

    td.details_btn_parent {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    td[headers="TTA_IME"] {
      text-align: left;
    }

    td[headers="ADRESA"] {
      text-align: left;
    }


  }


  tr:first-of-type {
    border-bottom: 3px solid #ccc;

    th {
      vertical-align: middle;
      text-align: center;

    }
  }

}


/* -------------------------- GOOGLE MAP CSS  -------------------------- */
/* -------------------------- GOOGLE MAP CSS  -------------------------- */
/* -------------------------- GOOGLE MAP CSS  -------------------------- */

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 70%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}


.google_title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#partner_adresa_google_map #infowindow-content {
  display: inline;
}

#partner_doc_box {

  .search_result_column.product_links,
  .search_result_column.doc_link {
    display: flex;
    flex-direction: column;
  }
  
  .search_result_column.product_links {
    
    .cit_label {
      display: none;
    }
    
    
    padding: 0;
    & > div {
      border-bottom: 1px solid #ccc;
      padding: 3px;
    }
    
    & > div:last-child {
      border-bottom: none;
    }
    
  }
  
  
  
  
  .search_result_column.product_links a {
    margin-bottom: 8px;
  }
  
  .search_result_column.choose_record label {
    display: none;
  }
  
  .search_result_column.choose_doc label {
    display: none;
  }
  
  
  
  .ad_acta_btn {
    margin: 0;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  
  .payment_sum_box {
    display: flex; 
    text-align: right;
    justify-content: end;
    font-size: 16px;
    align-items: center;
  }
  
}


#order_avans_switch_box .cit_switch_wrapper,
#primka_partial_switch_box .cit_switch_wrapper {
  
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}