/*
<div id="${id}" class="user_item">
  <div class="user_pic"><img src="${.picture}"></div>
  <div class="user_data">
    <h3 class="name_box">${name.first} ${name.last}</h3>
    <div class="eyeColor_box">Eye color: <div class="eye_color_circle" style="background-color: ${eyeColor};">${eyeColor}</div></div>
  </div>
</div>
*/

.user_item {
  display: flex;
  height: 100px;
  padding: 20px;
  max-width: 300px;
  width: 90%;
  margin: 0 auto -1px;
  border: 1px solid #ccc;
  color: #434242;
  font-size: 20px;
  font-family: sans-serif;

  .user_pic {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .user_data {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .name_box {
      flex: 1;
      font-weight: 700;
      color: black;
      display: flex;
      margin: 0;
      margin-bottom: 5px;
      justify-content: flex-end;
      align-items: center;
    }
    .eyeColor_box {
      flex: 1;
      font-size: 13px;
      font-family: sans-serif;
      font-weight: 400;
      display: block;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .eye_color_circle {
        margin-left: auto;
        width: 50px;
        height: 50px;
        background-color: aquamarine;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 10px;
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
}