.sss {
  color: transparent;
}

#sklad_table_box {
  
  position: relative;
  
  > .search_result_row.header {
    position: absolute;
    width: calc(100% - 17px);
  }
  
  > .search_result_table.cit_scrollbar {
    overflow-y: scroll;
    
    height: auto;
    max-height: calc(100vh - 80px);
    
    width: calc(100% + 14px);
    margin-top: 22px;
  }
  
  
  #sklad_history_box {
    
    width: 100%;
    background: #d6eaf7; 
    
  }
  
}


.cit_graf_box {
  width: auto;
  display: flex;
  overflow-x: auto;
  .cit_graf {
    display: flex;
    flex-direction: column;
    
    
    .cit_graf_top {
      display: flex;
      .ver_scale {
        width: 100px;
        box-sizing: border-box;
        padding-right: 5px;
        .ver_scale_item {
          width: 100%;
          height: 30px;
          font-size: 12px;
          text-align: right;
        }
        
        
      }  
      
    }
    
    .hor_scale {
      display: flex;
      
      .hor_scale_item {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border-left: #ccc 1px solid;
      }
    }
    
  }
  
}

