.sss {
  color: transparent;
}

#sklad_table_box {
  position: relative;
}
#sklad_table_box > .search_result_row.header {
  position: absolute;
  width: calc(100% - 17px);
}
#sklad_table_box > .search_result_table.cit_scrollbar {
  overflow-y: scroll;
  height: auto;
  max-height: calc(100vh - 80px);
  width: calc(100% + 14px);
  margin-top: 22px;
}
#sklad_table_box #sklad_history_box {
  width: 100%;
  background: #d6eaf7;
}

.cit_graf_box {
  width: auto;
  display: flex;
  overflow-x: auto;
}
.cit_graf_box .cit_graf {
  display: flex;
  flex-direction: column;
}
.cit_graf_box .cit_graf .cit_graf_top {
  display: flex;
}
.cit_graf_box .cit_graf .cit_graf_top .ver_scale {
  width: 100px;
  box-sizing: border-box;
  padding-right: 5px;
}
.cit_graf_box .cit_graf .cit_graf_top .ver_scale .ver_scale_item {
  width: 100%;
  height: 30px;
  font-size: 12px;
  text-align: right;
}
.cit_graf_box .cit_graf .hor_scale {
  display: flex;
}
.cit_graf_box .cit_graf .hor_scale .hor_scale_item {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-left: #ccc 1px solid;
}

/*# sourceMappingURL=sklad_module.css.map */
