
    <h3>Kaširka Lamina - Upute za rad</h3>
     
    <h4>1.Pokretanje</h4>
    <div class="vel_info_text">
      <img src="/img/info/001_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Okrećem sklopku s nule na jedan
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/002_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Otvaram ventil zraka na zidu
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/003_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Palim kompresor zraka na stroju. Sklopka se nalazi s donje strane kompresora.
      </div>
    </div>
    
    
    <div class="vel_info_text">
      <img src="/img/info/004_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Kad se stroj upali potrebno je pritisnuti gumb <b style="font-size: 20px;">RESET</b> kod displaya.
        <br>
        Zatim, na displayu pritisnem <b style="font-size: 20px;">RESET</b> pa <b style="font-size: 20px;">Top. Gr.</b>
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/005_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Dižem poklopac i letvu.
        <br>
        Na displayu pritisnem <b style="font-size: 20px;">Buttom g.</b>
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/006_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Podižem poklopac gdje se nalaze otvori ljepila.
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/007_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        S lijeve i desne strane velikih valjaka zavrćem u desnu stranu kotačić kako bi skupila valjke.
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/008_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Uklanjam gumene čepove s cijevi gdje izlazi ljepilo.
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/009_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Spuštam poklopac i otvaram sve ventile ljepila do kraja, osim zadnjeg ventila s lijeve strane (prvi ventil do pumpe), njega otvaram do pola.
      </div>
    </div>
    
    <div class="vel_info_text col_count_2">
      <img src="/img/info/010_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
        Na pumpi otvaram sva 3 ventila do pola.
      </div>
    </div>
    
    <div class="vel_info_text col_count_2">
      <img src="/img/info/011_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Pored pumpe stoji kanta s ljepilom. Na poklopcu kante odložena su crijeva za dovod i odvod ljepila.  Crijevo za dovod je plave boje, a za odvod bijele. Sa oba crijeva skidam čep. Plavo crijevo stavljam u ljepilo, a bijelo ostavljam unutar kante izvan ljepila kako bi višak ljepila curio kroz crijevo u kantu.
       <br>
        Na displayu pritišćući <b style="font-size: 20px;">NEXT</b> pronađem i pritisnem „glue“ kako bih pustila ljepilo te pritisnem <b style="font-size: 20px;">FORWARD</b>.
        <br>
        Na taj način pokrenem velike valjke.
       
      </div>
    </div>
    
    <h3>Kaširka Lamina - Upute za rad</h3>
    
    <h3>2. Štelanje kaširke</h3>
    <div class="vel_info_text">
      <img src="/img/info/012_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Krećem sa štelanjem ulaza kartona. Postavljam ploču kartona na mjesto gdje stoji i po njegovoj širini postavljam graničnik i zatežem kako bih ga fiksirala. 
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/013_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Sa kotačićima namještam debljinu kartona ovisno o slojevima. 
       <br>
       Ne smije biti ni previše  spušteno jer će zadržavati karton i moguće je da ga podere, a ako je preveliki razmak stroj će povući dva ili više kartona odjednom.
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/014_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Pomičem štangu sa kotačima do ruba kartona i namještam pad kartona i kotačiće tako da prilikom svakog uzimanja kartona sljedeći karton se izdvoji.
       
      </div>
    </div>
    
    
    <div class="vel_info_text">
      <img src="/img/info/015_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Prije rada potrebno je odrediti nanos ljepila.
       <br>
       Ako se radi o mikrovalu dovoljan je najmanji nanos. Kod peteroslojnog kartona dosta veći nanos. Nanos korigiramo širenjem i skupljanjem velikih valjaka
       
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/016_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Bitan je i razmak između velikih valjaka i crnog valjka. 
       <br>
       Razmak mora biti veći kod peteroslojnog papira, a manji kod mikrovala. Razmak se procijeni puštajući jedan karton i promatrajući je li cijeli pokriven ljepilom.
       
      </div>
    </div>
    
    <div class="vel_info_text">
      <img src="/img/info/017_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Dižem bijeli dio kaširke na koji se stavlja arak, kako bih došla do traka. ( display -> Top Gr. ). Uvlačim karton ispod letve i stavljam ga pod senzor za puštanje kartona i ravnam s letvom.
       
      </div>
    </div>
    
    <div class="vel_info_text col_count_2">
      <img src="/img/info/018_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Bočni graničnik namjestim po kartonu, najprije donji dio, a zatim povučem karton po trakama skroz do velikih valjaka i tamo namjestim graničnik.
       
      </div>
    </div>
    
    
    <div class="vel_info_text col_count_2">
      <img src="/img/info/018_lamina.png" alt="" style="margin-bottom: 0; margin-top: 0;">
      
      <div class="no_col_break">
       Bočni graničnik namjestim po kartonu, najprije donji dio, a zatim povučem karton po trakama skroz do velikih valjaka i tamo namjestim graničnik.
       
      </div>
    </div>