'
<div class="search_result_row header ">
  <div id="16716194263513076_worker_naziv" class="search_result_column header_column " style="width: calc(10% + 1px); "> Radnik <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
  <div id="16716194263513076_time_string" class="search_result_column header_column " style="width: calc(10% + 1px); "> Vrijeme upisa <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
  <div id="16716194263513076_posao_naziv" class="search_result_column header_column " style="width: calc(10% + 1px); "> Vrsta <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
  <div id="16716194263513076_from_string" class="search_result_column header_column " style="width: calc(10% + 1px); "> OD <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
  <div id="16716194263513076_to_string" class="search_result_column header_column " style="width: calc(10% + 1px); "> DO <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
  <div id="16716194263513076_duration" class="search_result_column header_column " style="width: calc(10% + 1px); "> Trajanje / min <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
  <div id="16716194263513076_desc" class="search_result_column header_column " style="width: calc(40% + 1px); "> Opis <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> </div>
</div>
<div class="search_result_table cit_scrollbar scrollbar-macosx">
  <div class="search_result_row  " id="16716194263513884_list_item_1671619426351_0" data-id="undefined">
    <div class="search_result_column worker_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Toni Kutlić </div>
    <div class="search_result_column time_string" style="width: calc(10% + 1px);  justify-content: center;"> 06.12.2022 16:52:13 </div>
    <div class="search_result_column posao_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Rad </div>
    <div class="search_result_column from_string" style="width: calc(10% + 1px);  justify-content: center;"> 06.12.2022 16:52:13 </div>
    <div class="search_result_column to_string" style="width: calc(10% + 1px);  justify-content: center;"> </div>
    <div class="search_result_column duration" style="width: calc(10% + 1px);  justify-content: center;"> </div>
    <div class="search_result_column desc" style="width: calc(40% + 1px);  "> </div>
  </div>
  <div class="search_result_row  " id="16716194263513801_list_item_1671619426351_1" data-id="undefined">
    <div class="search_result_column worker_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Domić Oksana </div>
    <div class="search_result_column time_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:07:22 </div>
    <div class="search_result_column posao_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Rad </div>
    <div class="search_result_column from_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:07:22 </div>
    <div class="search_result_column to_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:07:27 </div>
    <div class="search_result_column duration" style="width: calc(10% + 1px);  justify-content: center;"> 0.08 </div>
    <div class="search_result_column desc" style="width: calc(40% + 1px);  "> </div>
  </div>
  <div class="search_result_row  " id="16716194263512073_list_item_1671619426351_2" data-id="undefined">
    <div class="search_result_column worker_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Domić Oksana </div>
    <div class="search_result_column time_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:07:27 </div>
    <div class="search_result_column posao_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Pauza </div>
    <div class="search_result_column from_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:07:27 </div>
    <div class="search_result_column to_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:08:34 </div>
    <div class="search_result_column duration" style="width: calc(10% + 1px);  justify-content: center;"> 1.12 </div>
    <div class="search_result_column desc" style="width: calc(40% + 1px);  "> </div>
  </div>
  <div class="search_result_row  " id="1671619426351576_list_item_1671619426351_3" data-id="undefined">
    <div class="search_result_column worker_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Domić Oksana </div>
    <div class="search_result_column time_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:08:34 </div>
    <div class="search_result_column posao_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Rad </div>
    <div class="search_result_column from_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:08:34 </div>
    <div class="search_result_column to_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:09:09 </div>
    <div class="search_result_column duration" style="width: calc(10% + 1px);  justify-content: center;"> 0.58 </div>
    <div class="search_result_column desc" style="width: calc(40% + 1px);  "> </div>
  </div>
  <div class="search_result_row  " id="16716194263514573_list_item_1671619426351_4" data-id="undefined">
    <div class="search_result_column worker_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Domić Oksana </div>
    <div class="search_result_column time_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:09:09 </div>
    <div class="search_result_column posao_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Problem u radu </div>
    <div class="search_result_column from_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 16:09:09 </div>
    <div class="search_result_column to_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 18:09:08 </div>
    <div class="search_result_column duration" style="width: calc(10% + 1px);  justify-content: center;"> 119.98 </div>
    <div class="search_result_column desc" style="width: calc(40% + 1px);  "> g<v<sdfgv </div>
    </div>
    <div class="search_result_row  " id="16716194263510325_list_item_1671619426351_5" data-id="undefined">
      <div class="search_result_column worker_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Domić Oksana </div>
      <div class="search_result_column time_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 18:09:08 </div>
      <div class="search_result_column posao_naziv" style="width: calc(10% + 1px);  justify-content: center;"> Rad </div>
      <div class="search_result_column from_string" style="width: calc(10% + 1px);  justify-content: center;"> 20.12.2022 18:09:08 </div>
      <div class="search_result_column to_string" style="width: calc(10% + 1px);  justify-content: center;"> </div>
      <div class="search_result_column duration" style="width: calc(10% + 1px);  justify-content: center;"> </div>
      <div class="search_result_column desc" style="width: calc(40% + 1px);  "> </div>
    </div>
  </div>
  '