<div class="row sirov_records_graf_box cit_closed">
      
        <i class="fal fa-angle-down graf_arrow"></i>
        
        <h5 class="graf_naslov" >
          Projekcije količina
        </h5>
        
        <div class="legend_box">
         
          <div class="legend_color cit_color_1"></div> REZERV. PO PK
          <div class="legend_color cit_color_2"></div> REZERV. PO NK
          <div class="legend_color cit_color_3"></div> NA SKLADIŠTU
          <div class="legend_color cit_color_4"></div> PRIMKA / PROIZ.
        </div>
        
        
        <div class="cit_graf">
        
         
          <div class="cit_graf_top">
          
           
            <div class="vert_num_box">
   
              <div class="vert_num">10K</div>
              <div class="vert_num">9K</div>
              <div class="vert_num">8K</div>
              <div class="vert_num">7K</div>
              <div class="vert_num">6K</div>
              <div class="vert_num">5K</div>
              <div class="vert_num">4K</div>
              <div class="vert_num">3K</div>
              <div class="vert_num">2K</div>
              <div class="vert_num">1K</div>



            </div>
            <div class="cit_graf_body">

              <div class="hor_lines_box">

                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
                <div class="hor_line"></div>
            
              </div>

              <div class="cit_graf_content">

                <div  class="graf_col cit_color_1 cit_tooltip" style="height: 60px;"
                      data-toggle="tooltip" data-placement="top" data-html="true" title="2.080" >
                
                </div>
                <div  class="graf_col cit_color_2 cit_tooltip" style="height: 120px;"
                      data-toggle="tooltip" data-placement="top" data-html="true" title="3.985" >
                </div>
                <div class="graf_col cit_color_3 " style="height: 80px;"></div>
                <div class="graf_col last_in_group" style="height: 80px;"></div>


                <div  class="graf_col cit_color_1 cit_tooltip" style="height: 20px;"
                      data-toggle="tooltip" data-placement="top" data-html="true" title="723" >
                </div>
                <div class="graf_col cit_color_2" style="height: 140px;"></div>
                <div class="graf_col cit_color_3" style="height: 80px;"></div>
                
                <div  class="graf_col cit_color_4 last_in_group cit_tooltip" style="height: 80px;"
                      data-toggle="tooltip" data-placement="top" data-html="true" title="2.700" >
                </div>


                <div class="graf_col cit_color_1" style="height: 60px;"></div>
                <div class="graf_col cit_color_2" style="height: 100px;"></div>
                <div class="graf_col cit_color_3" style="height: 80px;"></div>
                <div class="graf_col last_in_group" style="height: 80px;"></div>


                <div class="graf_col cit_color_1" style="height: 60px;"></div>
                <div class="graf_col cit_color_2" style="height: 120px;"></div>
                <div class="graf_col cit_color_3 " style="height: 80px;"></div>
                <div class="graf_col last_in_group" style="height: 80px;"></div>


                <div class="graf_col cit_color_1" style="height: 60px;"></div>
                <div class="graf_col cit_color_2" style="height: 120px;"></div>
                <div class="graf_col cit_color_3 " style="height: 80px;"></div>
                <div class="graf_col last_in_group" style="height: 80px;"></div>

              </div>



            </div> <!-- kraj cit graf body -->

          </div> <!-- kraj cit graf top -->

          <div class="cit_graf_bottom">

            <div class="hor_empty">&nbsp;</div>
            <div class="hor_num">20.01.</div>
            <div class="hor_num">21.01.</div>
            <div class="hor_num">22.01.</div>
            <div class="hor_num">23.01.</div>
            <div class="hor_num">23.01.</div>
            <div class="hor_num">23.01.</div>
            <div class="hor_num">23.01.</div>
            <div class="hor_num">23.01.</div>
            <div class="hor_num">23.01.</div>

          </div>

        </div>
        
        
        
      </div>   
       