

<div style="font-family: sans-serif" >

<p>&nbsp;</p>
<p>
  <span style="color: #27527b;">
    <strong> <span style="font-size: 11pt;">Jernej&nbsp;Urbančič</span> </strong>
  </span><br>
  <span style="font-size: 10pt; margin-top: 3px; display: block;"> Key Account Manager </span>
</p>
<p style="margin-bottom: 0;">
  <img src="https://help.velprom.hr/img/email/logo_velprom_si_.png" style="width: 200px;" />
  <br />
  <img style="margin-top: 5px;" src="https://help.velprom.hr/img/email/eng_velprom_descriptor.png" />
  <br>

  <span style="font-size: 10pt; margin-top: 12px; display: block;">
    <em>
      <span>Velprom SI d.o.o.</span>
    </em>
  </span>

  <span style="font-size: 10pt;">
    <em>
      Dolinska cesta 1b <br>
      6000 Koper, Slovenija
    </em>
  </span>

</p>

<p style="margin-top: 11px;">
  <span style="font-size: 10pt;"> <em>mob:&nbsp; +386 51 670 170 <br /></em>
    <em>e-mail:</em>&nbsp; <span style="color: #27527b;"> <em> <a style="color: #27527b;" href="mailto:jernej@velprom.si">jernej@velprom.si</a> <br /></em> </span> </span> <span style="font-size: 10pt;"> <em>web</em>: </span>
    
    
  <a href="https://www.velprom.hr/sl" rel="noopener">
    <em>
      <span style="color: #27527b;">
        <span style="font-size: 9pt;"> <span style="font-size: 10pt;">www.velprom.hr</span> </span>
      </span>
    </em>
  </a>
</p>




</div>

