
#cit_right_menu_box {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 300px;
  
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 20px 10px 0;
  margin-top: 60px;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  transform: translateX(0);
  transition: all 0.3s ease-out;  
  &.cit_hide {
    transform: translateX(100%);
  }
  
  #cit_login_box {
    width: 100%;
    height: auto;
  }

}

