.bla {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkred;
  font-size: 20px;
}

.skl_card_pill {
  float: left;
  background: #27527b;
  padding: 3px 14px;
  border-radius: 20px;
  margin: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: 0.08rem;
}
.skl_card_pill i {
  height: 100%;
  padding: 0 0 0 6px;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 1px;
  transform: scale(1);
  transition: all 0.2s ease;
  cursor: pointer;
}
.skl_card_pill i:hover {
  transform: scale(1.1);
}

.record_pill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 0.05rem;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
}
.record_pill.proj {
  background: darkred;
}
.record_pill.sirov {
  background: #076d07;
}
.record_pill.nd {
  background: #007bff;
}
.record_pill.pr {
  background: #6c757d;
}
.record_pill.po {
  background: #28a745;
}
.record_pill.nk {
  background: #dc3545;
}
.record_pill.ms {
  background: #ffc107;
  color: black !important;
}
.record_pill.ut {
  background: #17a2b8;
}
.record_pill.sk {
  background: black;
}
.record_pill.pro {
  background: white;
  color: darkred !important;
}
.record_pill.pr_pro {
  background: #343a40;
}
.record_pill.ot {
  background: #c706d8;
}

#sirov_records.cit_result_table,
#sirov_locations_box.cit_result_table {
  /* OVO JE ZA LOCATIONS TABLICU */
  /* SAKRIJ LABEL OZNAKU IZNAD CHECK BOXA */
}
#sirov_records.cit_result_table .search_result_column a,
#sirov_locations_box.cit_result_table .search_result_column a {
  font-size: 12px !important;
  width: 100%;
  text-align: right;
}
#sirov_records.cit_result_table .search_result_column.doc_link a,
#sirov_locations_box.cit_result_table .search_result_column.doc_link a {
  flex-direction: column;
}
#sirov_records.cit_result_table .search_result_column.statuses_links a,
#sirov_records.cit_result_table .search_result_column.doc_link a,
#sirov_locations_box.cit_result_table .search_result_column.statuses_links a,
#sirov_locations_box.cit_result_table .search_result_column.doc_link a {
  font-size: 12px !important;
  width: 100%;
  text-align: left;
}
#sirov_records.cit_result_table .search_result_column.doc_link a,
#sirov_locations_box.cit_result_table .search_result_column.doc_link a {
  /*font-size: 14px !important;*/
}
#sirov_records.cit_result_table .search_result_row .search_result_column.product_links,
#sirov_records.cit_result_table .search_result_row .search_result_column.doc_link,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.product_links,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.doc_link {
  flex-direction: column;
}
#sirov_records.cit_result_table .search_result_row .search_result_column.masa_html,
#sirov_records.cit_result_table .search_result_row .search_result_column.location_from_html,
#sirov_records.cit_result_table .search_result_row .search_result_column.boxes_on_palet_html,
#sirov_records.cit_result_table .search_result_row .search_result_column.dim_html,
#sirov_records.cit_result_table .search_result_row .search_result_column.loc_html,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.masa_html,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.location_from_html,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.boxes_on_palet_html,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.dim_html,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.loc_html {
  flex-direction: column;
}
#sirov_records.cit_result_table .search_result_row .search_result_column.palet_sifre_html,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.palet_sifre_html {
  display: flex;
  flex-flow: wrap;
}
#sirov_records.cit_result_table .search_result_row .search_result_column.choose_ms_html label,
#sirov_locations_box.cit_result_table .search_result_row .search_result_column.choose_ms_html label {
  display: none;
}
#sirov_records.cit_result_table .small_btn,
#sirov_locations_box.cit_result_table .small_btn {
  font-size: 10px !important;
  letter-spacing: 0.04rem;
}
#sirov_records.cit_result_table .record_grana i,
#sirov_locations_box.cit_result_table .record_grana i {
  transform: rotateZ(180deg) rotateY(180deg);
  font-size: 18px;
}
#sirov_records.cit_result_table .ista_primka i,
#sirov_locations_box.cit_result_table .ista_primka i {
  transform: rotateZ(180deg) rotateY(180deg);
  font-size: 18px;
}
#sirov_records.cit_result_table .choose_record,
#sirov_locations_box.cit_result_table .choose_record {
  justify-content: center;
}
#sirov_records.cit_result_table .choose_record .cit_label,
#sirov_locations_box.cit_result_table .choose_record .cit_label {
  display: none;
}

#sirov_locations_box.cit_result_table .search_result_row .search_result_column {
  font-size: 12px !important;
  font-weight: 700 !important;
}

#sirov_locations_box.cit_result_table .search_result_row .search_result_column .palet_sifra_pill {
  font-size: 10px !important;
  display: block;
  margin: 0 4px 0 0;
  letter-spacing: 0.02rem;
}

#sirov_locations_box.cit_result_table .search_result_row.header .search_result_column {
  font-size: 9px !important;
  font-weight: 700 !important;
}

.query_input_container {
  float: left;
  min-width: 200px;
  margin-bottom: 5px;
  margin-right: 20px;
  display: flex;
}
.query_input_container .query_input_box {
  width: 90%;
}
.query_input_container .query_btn_box {
  width: 10%;
}

.sirov_records_graf_box {
  padding-top: 10px;
  background: #fff;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.sirov_records_graf_box .graf_arrow {
  float: left;
  width: 30px;
  display: flex;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sirov_records_graf_box .graf_naslov {
  margin-top: 5px;
  width: 500px;
}
.sirov_records_graf_box.cit_closed {
  height: 48px;
  overflow: hidden;
}
.sirov_records_graf_box.cit_closed .graf_arrow {
  transform: rotate(0deg);
}

.record_est_time_input label {
  display: none;
}
.record_est_time_input .cit_input {
  padding: 2px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
}

#alat_shelfs_box .search_result_table.cit_scrollbar {
  height: 500px;
  overflow-y: scroll;
}

/*
------------------------------------------------
#save_sirov_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 80px;
  top: 90px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
}
------------------------------------------------
*/
#show_find_sirov_table_btn {
  margin: 20px auto 0 0;
  box-shadow: none;
}
@media only screen and (max-width: 450px) {
  #show_find_sirov_table_btn {
    margin: 0 auto;
  }
}

#show_scaner_box {
  display: none;
}
@media only screen and (max-width: 450px) {
  #show_scaner_box {
    display: flex;
  }
}
#show_scaner_box #show_sirov_scan_btn {
  margin: 50px auto;
  font-size: 40px;
  height: 70px;
  background: #8813bd;
}
#show_scaner_box #scaner_popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  background: #edf1f3;
  overflow-y: auto;
  transition: all 0.3s ease;
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
}
#show_scaner_box #scaner_popup.cit_show {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}
#show_scaner_box #scaner_popup #close_scaner {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#show_scaner_box #scaner_popup #close_scaner i {
  font-size: 40px;
  font-weight: 700;
}
#show_scaner_box #scaner_popup #scaner_screen {
  width: 100%;
  height: 300px;
  background: #000;
  overflow: hidden;
}

#copy_sirov_btn {
  margin: 0 0 0 auto;
  box-shadow: none;
  width: 120px;
}
@media only screen and (max-width: 450px) {
  #copy_sirov_btn {
    margin: 0 auto;
  }
}

#save_sirov_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 47px;
  top: 6px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
  width: 230px;
}
@media only screen and (max-width: 450px) {
  #save_sirov_btn {
    position: unset;
    right: unset;
    top: unset;
    margin: 0 auto;
    box-shadow: none;
  }
}

#show_find_sirov_table_box {
  padding-top: 0;
  padding-bottom: 0;
  overflow-x: auto;
  margin-bottom: 20px;
}
#show_find_sirov_table_box .search_result_row.sum_row {
  min-width: 2000px;
}
#show_find_sirov_table_box .search_result_row.header {
  min-width: 2000px;
}
#show_find_sirov_table_box .search_result_table.cit_scrollbar {
  min-width: 2000px;
  height: 500px;
  overflow-y: auto;
}

.sirov_find_mode_title {
  text-align: center;
  width: 100%;
  margin: 10px 0px 5px;
  font-size: 18px;
  font-weight: 700;
}

/*# sourceMappingURL=sirov_module.css.map */
