.bla {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkred;
  font-size: 20px;
}


.skl_card_pill {
  float: left;
  background: #27527b;
  padding: 3px 14px;
  border-radius: 20px;
  margin: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: 0.08rem;
  i {
    height: 100%;
    padding: 0 0 0 6px;
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 1px;
    transform: scale(1);
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  
}


.record_pill {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 0.05rem;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  
  &.proj {
    background: darkred;
  }
  
  &.sirov {
    background: #076d07;
  }
  
  
  &.nd {
    background: #007bff;
  }
  
  &.pr {
    background: #6c757d;
  }
  
  &.po {
    background: #28a745;
  }
  
  &.nk {
    background: #dc3545;
  } 
  
  &.ms {
    background: #ffc107;
    color: black !important;
  }
  
  &.ut {
    background: #17a2b8;
  }
  
  &.sk {
    background: black;
  }
  
  &.pro {
    background: white;
    color: darkred !important;
  }
  
  &.pr_pro {
    background: #343a40;
  }
  
  &.ot {
    background: #c706d8;
  }
  
}

#sirov_records.cit_result_table,
#sirov_locations_box.cit_result_table  {

  .search_result_column a {
    font-size: 12px !important;
    width: 100%;
    text-align: right;
  }
  
  
  .search_result_column.doc_link a {
    flex-direction: column;
  }
  
  
  .search_result_column.statuses_links a,
  .search_result_column.doc_link a {
    font-size: 12px !important;
    width: 100%;
    text-align: left;
  }
  
  .search_result_column.doc_link a {
    /*font-size: 14px !important;*/
  }
  
  
  .search_result_row .search_result_column.product_links,
  .search_result_row .search_result_column.doc_link {
    flex-direction: column;
  }
  
  
  /* OVO JE ZA LOCATIONS TABLICU */
  .search_result_row .search_result_column.masa_html,
  .search_result_row .search_result_column.location_from_html,
  .search_result_row .search_result_column.boxes_on_palet_html,
  .search_result_row .search_result_column.dim_html,
  .search_result_row .search_result_column.loc_html {
    flex-direction: column;

  }
  
  
  .search_result_row .search_result_column.palet_sifre_html {
    display: flex;
    flex-flow: wrap;
  }
  
  /* SAKRIJ LABEL OZNAKU IZNAD CHECK BOXA */
  .search_result_row .search_result_column.choose_ms_html label {
    display: none;
  }
  
  
  
  .small_btn {
    font-size: 10px !important;
    letter-spacing: 0.04rem;
  }
  
  .record_grana i {
    transform: rotateZ(180deg) rotateY(180deg);
    font-size: 18px;
  }
  
  .ista_primka i {
    transform: rotateZ(180deg) rotateY(180deg);
    font-size: 18px;
  }

  
  .choose_record {
    justify-content: center;
    .cit_label {
      display: none;
    }
  }
  
  
}


#sirov_locations_box.cit_result_table {
  .search_result_row .search_result_column {
    font-size: 12px !important;
    font-weight: 700 !important;
  }
}

#sirov_locations_box.cit_result_table {
  .search_result_row .search_result_column .palet_sifra_pill {
    
    font-size: 10px !important;
    display: block;
    margin: 0 4px 0 0;
    letter-spacing: 0.02rem;
  }
}






#sirov_locations_box.cit_result_table {
  .search_result_row.header .search_result_column {
    font-size: 9px !important;
    font-weight: 700 !important;
  }
}



.query_input_container {
  float: left;
  min-width: 200px;
  margin-bottom: 5px;
  margin-right: 20px;
  display: flex;
  
  .query_input_box {
    width: 90%
  }
  .query_btn_box {
    width: 10%
  }
}


.sirov_records_graf_box {
  padding-top: 10px;
  background: #fff;
  
  margin-bottom: 8px;
  border-radius: 4px;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  
  .graf_arrow {
    float: left;
    width: 30px;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  
  .graf_naslov {
    margin-top: 5px;
    width: 500px
  }
  
  
  &.cit_closed {
    height: 48px;
    overflow: hidden;
    
    .graf_arrow {
      transform: rotate(0deg);
    }
    
  }
  
}

.record_est_time_input {
  label {
    display: none;
  }
  .cit_input {
    padding: 2px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
  }
}


#alat_shelfs_box .search_result_table.cit_scrollbar {
  height: 500px;
  overflow-y: scroll;
}

/*
------------------------------------------------
#save_sirov_btn {
  margin: 0 0 0 auto;
  position: fixed;
  right: 80px;
  top: 90px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
}
------------------------------------------------
*/

#show_find_sirov_table_btn {
  
  margin: 20px auto 0 0; 
  box-shadow: none;
  
  @media only screen and (max-width : 450px) {
    
    margin: 0 auto; 
    
  }
  
}



#show_scaner_box {

  display: none;
  
  
  @media only screen and (max-width : 450px) {
    
    display: flex;
    
  }
  

  #show_sirov_scan_btn {
    margin: 50px auto; 
    font-size: 40px;
    height: 70px;
    background: #8813bd;
  }
  
  
  #scaner_popup {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    background: #edf1f3;
    overflow-y: auto;
    
    
    transition: all 0.3s ease;
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    
    &.cit_show {
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
    }
    
    #close_scaner {
      
      width: 50px;
      height: 50px;
      
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
      i {
        font-size: 40px;
        font-weight: 700;
      }
      
    }
    
    #scaner_screen {
      width: 100%;
      height: 300px;
      background: #000;
      overflow: hidden;
    }
    
    
  }
  
  

}


#copy_sirov_btn {
  margin: 0 0 0 auto; 
  box-shadow: none;
  width: 120px;
  
  @media only screen and (max-width : 450px) {
    
    margin: 0 auto; 
    
  }
  
}

#save_sirov_btn {
  
  margin: 0 0 0 auto;
  position: fixed;
  right: 47px;
  top: 6px;
  z-index: 999;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 30px;
  width: 230px;
  
  @media only screen and (max-width : 450px) {
    
    position: unset;
    right: unset;
    top: unset;
    margin: 0 auto;
    box-shadow: none;
  }  
  
  
}

#show_find_sirov_table_box {
  
  padding-top: 0;
  padding-bottom: 0;
  overflow-x: auto;
  margin-bottom: 20px;
  
  .search_result_row.sum_row {
    min-width: 2000px;
  }
  
  .search_result_row.header {
    min-width: 2000px;
  }
  
  .search_result_table.cit_scrollbar {
    min-width: 2000px;
    height: 500px;
    overflow-y: auto;
  }
}

.sirov_find_mode_title {
  
  text-align: center;
  width: 100%;
  margin: 10px 0px 5px;
  font-size: 18px;
  font-weight: 700;
  
}


